@font-face {
	font-family: 'IconesNetCombo';
	src:url('../fonts/iconesnetcombo/fonts/IconesNetCombo.eot');
	src:url('../fonts/iconesnetcombo/fonts/IconesNetCombo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iconesnetcombo/fonts/IconesNetCombo.woff') format('woff'),
		url('../fonts/iconesnetcombo/fonts/IconesNetCombo.svg#IconesNetCombo') format('svg'),
		url('../fonts/iconesnetcombo/fonts/IconesNetCombo.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'IconesNetCombo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-celular_borda:before {
	content: "\e600";
}

.icon-paper:before {
	content: "\e601";
}

.icon-ola:before {
	content: "\e602";
}

.icon-gravar_ball:before {
	content: "\e603";
}

.icon-grade:before {
	content: "\e604";
}

.icon-grade_bola:before {
	content: "\e605";
}

.icon-fone:before {
	content: "\e606";
}

.icon-fone_borda:before {
	content: "\e607";
}

.icon-ferramenta:before {
	content: "\e608";
}

.icon-fechar:before {
	content: "\e609";
}

.icon-Facebook:before {
	content: "\e60a";
}

.icon-facebook_footer:before {
	content: "\e60b";
}

.icon-estrela:before {
	content: "\e60c";
}

.icon-erro404:before {
	content: "\e60d";
}

.icon-documento:before {
	content: "\e60e";
}

.icon-dicas_seguranca_borda:before {
	content: "\e60f";
}

.icon-devices:before {
	content: "\e610";
}

.icon-controle_remoto:before {
	content: "\e611";
}

.icon-controle_borda:before {
	content: "\e612";
}

.icon-configuracao:before {
	content: "\e613";
}

.icon-concluido:before {
	content: "\e614";
}

.icon-youtube:before {
	content: "\e615";
}

.icon-youtube_footer:before {
	content: "\e616";
}

.icon-twitter:before {
	content: "\e617";
}

.icon-twitter_footer:before {
	content: "\e618";
}

.icon-tv:before {
	content: "\e619";
}

.icon-tv_borda:before {
	content: "\e61a";
}

.icon-smartphone_borda:before {
	content: "\e61b";
}

.icon-seta_voltar:before {
	content: "\e61c";
}

.icon-seta_up2:before {
	content: "\e61d";
}

.icon-seta_up:before {
	content: "\e61e";
}

.icon-seta_down2:before {
	content: "\e61f";
}

.icon-seta_down:before {
	content: "\e620";
}

.icon-seta_carrossel_esq:before {
	content: "\e621";
}

.icon-seta_carrossel_dir:before {
	content: "\e622";
}

.icon-seta_avancar:before {
	content: "\e623";
}

.icon-saiba_mais:before {
	content: "\e624";
}

.icon-relogio:before {
	content: "\e625";
}

.icon-preco_now:before {
	content: "\e626";
}

.icon-planos:before {
	content: "\e627";
}

.icon-ola_piscando:before {
	content: "\e628";
}

.icon-now_em_casa:before {
	content: "\e629";
}

.icon-notebook:before {
	content: "\e62a";
}

.icon-notebook_borda:before {
	content: "\e62b";
}

.icon-navegacao:before {
	content: "\e62c";
}

.icon-minhaarea:before {
	content: "\e62d";
}

.icon-minhaarea_over:before {
	content: "\e62e";
}

.icon-mensagem_sucesso:before {
	content: "\e62f";
}

.icon-mensagem_erro:before {
	content: "\e630";
}

.icon-lupa:before {
	content: "\e631";
}

.icon-local:before {
	content: "\e632";
}

.icon-linkedin:before {
	content: "\e633";
}

.icon-ipad_borda:before {
	content: "\e634";
}

.icon-internet:before {
	content: "\e635";
}

.icon-internet_borda:before {
	content: "\e636";
}

.icon-guia_borda:before {
	content: "\e637";
}

.icon-gravar:before {
	content: "\e638";
}

.icon-calendario:before {
	content: "\e639";
}

.icon-buscar:before {
	content: "\e63a";
}

.icon-favoritado:before {
	content: "\e63b";
}

.icon-favoritar:before {
	content: "\e63c";
}

.icon-carrinho:before {
	content: "\e63d";
}

.icon-sinal:before {
	content: "\e63e";
}

.icon-atencao:before {
	content: "\e63f";
}

.icon-ponto_opcional:before {
	content: "\e640";
}

.icon-turbine:before {
	content: "\e641";
}

.icon-via_fatura_facil:before {
	content: "\e642";
}

.icon-cadastro:before {
	content: "\e643";
}

.icon-esqueci_login_senha:before {
	content: "\e644";
}

.icon-historico_atendimento:before {
	content: "\e645";
}

.icon-promessa_pagamento:before {
	content: "\e646";
}

.icon-wi-fi:before {
	content: "\e647";
}

.icon-faq:before {
	content: "\e648";
}

.icon-sair:before {
	content: "\e649";
}

.icon-televendas:before {
	content: "\e64a";
}

.icon-atendimento:before {
	content: "\e64b";
}

.icon-beneficios:before {
	content: "\e64c";
}