<section id="painel-1519601785434" class="tabs-accordion sectionComponent" data-require="painelAbas">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 combinacao1">
				
					<h2 class="main-title ">Painel Abas/FAQ</h2>
				

				
					<h3 class="main-subtitle">Painel Destaque Horizontal - Âncora 2</h3>
				

				<div class="wrap-tabs c-body isDesktop">
				   <hr style="margin-top: 0px;margin-bottom: 20px;">
					<nav class="tabs-wrap">
						<ul class="tabs-wrap-list">
							
								<li class="tabs-horizontal-item c-tab c-h-tab active"><a href="#item-1519601980279" title="Files e Séries">Filmes e Séries</a>
								</li>
							
								<li class="tabs-horizontal-item c-tab c-h-tab "><a href="#item-1519601980424" title="Esportes">Esportes</a>
								</li>
							
								<li class="tabs-horizontal-item c-tab c-h-tab "><a href="#item-1519601981778" title="Cultura e Informação">Cultura e Informação</a>
								</li>
							
						</ul>
					</nav>
                   <hr style="margin-top: 20px; margin-bottom: 0px;">
					
						<div id="item-1519601980279" class="tabs-body active">
							<div class="tab-bind-accordion c-tab">Filmes e Séries</div>
								
								   <div class="tabs-dest-horizontal-body-item">
									<div class="c-h-bg">
										<div>
											<div class="destaque-horizontal">
													
														<div class="image">
															<img src="http://dev-stg.netwcs.cloud/sites/Satellite?blobcol=urldata&blobkey=id&blobnocache=true&blobtable=MungoBlobs&blobwhere=1519602012521&ssbinary=true" alt="Telecine">
														</div>
													
													<div class="description">
														
															<h3 class="title c-title">Telecine</h3>
														
														
														
															<div class="text c-description"><div>São 6 canais no pacote, também em HD. O melhor do cinema para assistir quando quiser: mais de 1.000 filmes todos os meses.</div>

<div>&nbsp;</div>

<div><img alt="Logo dos cabais Telecine" src="http://dev-stg.netwcs.cloud/imagem/logos-canais-telecine-1519602010417.png"></div>
</div>
														
														
													</div>
													 
													<div class="wrap-billoffer">
													   
															
															
																<span class="bill-offer c-description"> 
																		<span class="txt-pre">A partir de</span>
																	 <small class="ref-1">R$</small>  20<small>,00</small><span class="txt-pos">/Mês</span>
																</span>
															
															
														
													</div> 
													<div class="wrap-btn">
														
															<a href="" class="g-main-button c-button c-h-button gtm-link-event" target="_self" title="Acesso Telecine" data-gtm-action="chamada-destaque-horizontal:click" data-gtm-label="acesso-telecine" data-gtm-category="claro:nao-disponivel">Acesso Telecine</a>
														
													</div>
												</div>
										</div>
									</div>
                                   </div>
                                   <hr style="margin-top: -5px; margin-bottom: 0px;">
								
								   <div class="tabs-dest-horizontal-body-item">
									<div class="c-h-bg">
										<div>
											<div class="destaque-horizontal">
													
														<div class="image">
															<img src="http://dev-stg.netwcs.cloud/sites/Satellite?blobcol=urldata&blobkey=id&blobnocache=true&blobtable=MungoBlobs&blobwhere=1519602012521&ssbinary=true" alt="Logo HBO">
														</div>
													
													<div class="description">
														
															<h3 class="title c-title">HBO</h3>
														
														
														
															<div class="text c-description"><div>São 10 canais no pacote, 8 deles em HD. Séries premiadas, produções originais, filmes campeões de bilheteria, shows, documentários e muito mais.</div>

<div>&nbsp;</div>

<div><img alt="Logo dos cabais HBO" src="http://dev-stg.netwcs.cloud/imagem/logos-canais-telecine-1519602010417.png"></div>
</div>
														
														
													</div>
													 
													<div class="wrap-billoffer">
													   
															
															
																<span class="bill-offer c-description"> 
																		<span class="txt-pre">A partir de</span>
																	 <small class="ref-1">R$</small>  12<small>,00</small><span class="txt-pos">/Mês</span>
																</span>
															
															
														
													</div> 
													<div class="wrap-btn">
														
															<a href="" class="g-main-button c-button c-h-button gtm-link-event" target="_self" title="Assine HBO" data-gtm-action="chamada-destaque-horizontal:click" data-gtm-label="assine-hbo" data-gtm-category="claro:nao-disponivel">Assine HBO</a>
														
													</div>
												</div>
										</div>
									</div>
                                   </div>
                                   <hr style="margin-top: -5px; margin-bottom: 0px;">
								
								   <div class="tabs-dest-horizontal-body-item">
									<div class="c-h-bg">
										<div>
											<div class="destaque-horizontal">
													
														<div class="image">
															<img src="http://dev-stg.netwcs.cloud/sites/Satellite?blobcol=urldata&blobkey=id&blobnocache=true&blobtable=MungoBlobs&blobwhere=1519602012521&ssbinary=true" alt="Logo Fox Premium">
														</div>
													
													<div class="description">
														
															<h3 class="title c-title">Fox Premium</h3>
														
														
														
															<div class="text c-description"><div>São 2 canais no pacote, também em HD. Grandes Séries 24h por dia, sem comerciais, estréias simultâneas com os Estados Unidos.</div>

<div>&nbsp;</div>

<div><img alt="Logo dos cabais Fox Premium" src="http://dev-stg.netwcs.cloud/imagem/logos-canais-telecine-1519602010417.png"></div>
</div>
														
														
													</div>
													 
													<div class="wrap-billoffer">
													   
															
															
																<span class="bill-offer c-description"> 
																		<span class="txt-pre">A partir de</span>
																	 <small class="ref-1">R$</small>  12<small>,00</small><span class="txt-pos">/Mês</span>
																</span>
															
															
														
													</div> 
													<div class="wrap-btn">
														
															<a href="" class="g-main-button c-button c-h-button gtm-link-event" target="_self" title="Assine HBO" data-gtm-action="chamada-destaque-horizontal:click" data-gtm-label="assine-hbo" data-gtm-category="claro:nao-disponivel">Assine HBO</a>
														
													</div>
												</div>
										</div>
									</div>
                                   </div>
                                   <hr style="margin-top: -5px; margin-bottom: 0px;">
								
								   <div class="tabs-dest-horizontal-body-item">
									<div class="c-h-bg">
										<div>
											<div class="destaque-horizontal">
													
														<div class="image">
															<img src="http://dev-stg.netwcs.cloud/sites/Satellite?blobcol=urldata&blobkey=id&blobnocache=true&blobtable=MungoBlobs&blobwhere=1519602012521&ssbinary=true" alt="Crackle">
														</div>
													
													<div class="description">
														
															<h3 class="title c-title">Crackle</h3>
														
														
														
															<div class="text c-description"><div>São 6 canais no pacote, também em HD. O melhor do cinema para assistir quando quiser: mais de 1.000 filmes todos os meses.</div>
</div>
														
														
													</div>
													 
													<div class="wrap-billoffer">
													   
															
															
																<span class="bill-offer c-description"> 
																		<span class="txt-pre">A partir de</span>
																	 <small class="ref-1">R$</small>  11<small>,00</small><span class="txt-pos">/Mês</span>
																</span>
															
															
														
													</div> 
													<div class="wrap-btn">
														
															<a href="" class="g-main-button c-button c-h-button gtm-link-event" target="_self" title="Acesso Telecine" data-gtm-action="chamada-destaque-horizontal:click" data-gtm-label="acesso-telecine" data-gtm-category="claro:nao-disponivel">Acesso Telecine</a>
														
													</div>
												</div>
										</div>
									</div>
                                   </div>
                                   
								
							
				</div>
				
						<div id="item-1519601980424" class="tabs-body">
							<div class="tab-bind-accordion c-tab">Esportes</div>
								
								   <div class="tabs-dest-horizontal-body-item">
									<div class="c-h-bg">
										<div>
											<div class="destaque-horizontal">
													
														<div class="image">
															<img src="http://dev-stg.netwcs.cloud/sites/Satellite?blobcol=urldata&blobkey=id&blobnocache=true&blobtable=MungoBlobs&blobwhere=1519602012521&ssbinary=true" alt="Logo HBO">
														</div>
													
													<div class="description">
														
															<h3 class="title c-title">Sport TV</h3>
														
														
														
															<div class="text c-description"><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum pulvinar ligula, eu facilisis magna ullamcorper quis. Ut quis placerat libero. Pellentesque et massa laoreet, ultrices eros sit amet, laoreet purus. Curabitur blandit, felis at eleifend lobortis, tortor purus sodales eros, vel tincidunt ipsum mauris eget sem. Vivamus nibh turpis, porta at sagittis non, convallis non erat. Proin maximus ultrices purus a placerat.&nbsp;</div>
</div>
														
														
													</div>
													 
													<div class="wrap-billoffer">
													   
															
															
																<span class="bill-offer c-description"> 
																		<span class="txt-pre">A partir de</span>
																	 <small class="ref-1">R$</small>  11<small>,00</small><span class="txt-pos">/Mês</span>
																</span>
															
															
														
													</div> 
													<div class="wrap-btn">
														
															<a href="" class="g-main-button c-button c-h-button gtm-link-event" target="_self" title="Assine já" data-gtm-action="chamada-destaque-horizontal:click" data-gtm-label="assine-ja" data-gtm-category="claro:nao-disponivel">Assine já</a>
														
													</div>
												</div>
										</div>
									</div>
                                   </div>
                                   <hr style="margin-top: -5px; margin-bottom: 0px;">
								
								   <div class="tabs-dest-horizontal-body-item">
									<div class="c-h-bg">
										<div>
											<div class="destaque-horizontal">
													
														<div class="image">
															<img src="http://dev-stg.netwcs.cloud/sites/Satellite?blobcol=urldata&blobkey=id&blobnocache=true&blobtable=MungoBlobs&blobwhere=1519602012521&ssbinary=true" alt="Telecine">
														</div>
													
													<div class="description">
														
															<h3 class="title c-title">Fox Sport</h3>
														
														
														
															<div class="text c-description"><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum pulvinar ligula, eu facilisis magna ullamcorper quis. Ut quis placerat libero. Pellentesque et massa laoreet, ultrices eros sit amet, laoreet purus. Curabitur blandit, felis at eleifend lobortis, tortor purus sodales eros, vel tincidunt ipsum mauris eget sem. Vivamus nibh turpis, porta at sagittis non, convallis non erat. Proin maximus ultrices purus a placerat.&nbsp;</div>
</div>
														
														
													</div>
													 
													<div class="wrap-billoffer">
													   
															
															
																<span class="bill-offer c-description"> 
																		<span class="txt-pre">A partir de</span>
																	 <small class="ref-1">R$</small>  11<small>,00</small><span class="txt-pos">/Mês</span>
																</span>
															
															
														
													</div> 
													<div class="wrap-btn">
														
															<a href="" class="g-main-button c-button c-h-button gtm-link-event" target="_self" title="Assine já" data-gtm-action="chamada-destaque-horizontal:click" data-gtm-label="assine-ja" data-gtm-category="claro:nao-disponivel">Assine já</a>
														
													</div>
												</div>
										</div>
									</div>
                                   </div>
                                   
								
							
				</div>
				
						<div id="item-1519601981778" class="tabs-body">
							<div class="tab-bind-accordion c-tab">Cultura e Informação</div>
								
								   <div class="tabs-dest-horizontal-body-item">
									<div class="c-h-bg">
										<div>
											<div class="destaque-horizontal">
													
														<div class="image">
															<img src="http://dev-stg.netwcs.cloud/sites/Satellite?blobcol=urldata&blobkey=id&blobnocache=true&blobtable=MungoBlobs&blobwhere=1519602012521&ssbinary=true" alt="Telecine">
														</div>
													
													<div class="description">
														
															<h3 class="title c-title">Telecine</h3>
														
														
														
															<div class="text c-description"><div>São 6 canais no pacote, também em HD. O melhor do cinema para assistir quando quiser: mais de 1.000 filmes todos os meses.</div>

<div>&nbsp;</div>

<div><img alt="Logo dos cabais Telecine" src="http://dev-stg.netwcs.cloud/imagem/logos-canais-telecine-1519602010417.png"></div>
</div>
														
														
													</div>
													 
													<div class="wrap-billoffer">
													   
															
															
																<span class="bill-offer c-description"> 
																		<span class="txt-pre">A partir de</span>
																	 <small class="ref-1">R$</small>  20<small>,00</small><span class="txt-pos">/Mês</span>
																</span>
															
															
														
													</div> 
													<div class="wrap-btn">
														
															<a href="" class="g-main-button c-button c-h-button gtm-link-event" target="_self" title="Acesso Telecine" data-gtm-action="chamada-destaque-horizontal:click" data-gtm-label="acesso-telecine" data-gtm-category="claro:nao-disponivel">Acesso Telecine</a>
														
													</div>
												</div>
										</div>
									</div>
                                   </div>
                                   <hr style="margin-top: -5px; margin-bottom: 0px;">
								
								   <div class="tabs-dest-horizontal-body-item">
									<div class="c-h-bg">
										<div>
											<div class="destaque-horizontal">
													
														<div class="image">
															<img src="http://dev-stg.netwcs.cloud/sites/Satellite?blobcol=urldata&blobkey=id&blobnocache=true&blobtable=MungoBlobs&blobwhere=1519602012521&ssbinary=true" alt="Logo HBO">
														</div>
													
													<div class="description">
														
															<h3 class="title c-title">Sport TV</h3>
														
														
														
															<div class="text c-description"><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum pulvinar ligula, eu facilisis magna ullamcorper quis. Ut quis placerat libero. Pellentesque et massa laoreet, ultrices eros sit amet, laoreet purus. Curabitur blandit, felis at eleifend lobortis, tortor purus sodales eros, vel tincidunt ipsum mauris eget sem. Vivamus nibh turpis, porta at sagittis non, convallis non erat. Proin maximus ultrices purus a placerat.&nbsp;</div>
</div>
														
														
													</div>
													 
													<div class="wrap-billoffer">
													   
															
															
																<span class="bill-offer c-description"> 
																		<span class="txt-pre">A partir de</span>
																	 <small class="ref-1">R$</small>  11<small>,00</small><span class="txt-pos">/Mês</span>
																</span>
															
															
														
													</div> 
													<div class="wrap-btn">
														
															<a href="" class="g-main-button c-button c-h-button gtm-link-event" target="_self" title="Assine já" data-gtm-action="chamada-destaque-horizontal:click" data-gtm-label="assine-ja" data-gtm-category="claro:nao-disponivel">Assine já</a>
														
													</div>
												</div>
										</div>
									</div>
                                   </div>
                                   
								
							
				</div>
				
                <hr style="margin-top: -5px; margin-bottom: 0px;">

			</div>

			

			
				<div class="footer-tabs">Rodapé do componente</div>
			
		</div>
	</div>
	</div>
</section>