<section id="aba-1" class="tabs-accordion sectionComponent painel-abas" data-require="painelAbas">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 combinacao-padrao">
                <h2 class="main-title">Titulo</h2>
                <h3 class="main-subtitle">Sub Titulo</h3>

                <div class="wrap-tabs c-body">
                    <nav class="tabs-wrap">
                        <ul class="tabs-wrap-list">
                            <li class="tabs-bind-item c-tab active">
                                <a href="#tab1">Santo Amaro das Brotas, SE</a>
                            </li>
                            <li class="tabs-bind-item c-tab">
                                <a href="#tab2">Fernando de Noronha, PE</a>
                            </li>
                            <li class="tabs-bind-item c-tab">
                                <a href="#tab3">Penedo, AL</a>
                            </li>
                            <li class="tabs-bind-item c-tab">
                                <a href="#tab4">Penedo, 4</a>
                            </li>
                        </ul>
                    </nav>

                    <div id="tab1" class="tabs-body">
                        <div class="tab-bind-accordion c-tab">Santo Amaro das Brotas, SE</div>
                        <div class="tabs-body-item">
                            <p>Santo Amaro das Brotas, SE  simple solution for having tabbed content on a large screen but turn it into accordion on a smaller one. Just resize your screen below 800 pixels to see the tabbed interface transforming into an accordion.</p>
                            <p>In order to keep the HTML as clean as possible, without duplicating elements, we use element attributes as CSS content to display the accordion tabs.</p>
                        </div>
                    </div>
                    <div id="tab2" class="tabs-body">
                        <div class="tab-bind-accordion c-tab">Fernando de Noronha, PE</div>
                        <div class="tabs-body-item">
                            Fernando de Noronha, PE Tab 2 content. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                        </div>
                    </div>
                    <div id="tab3" class="tabs-body">
                        <div class="tab-bind-accordion c-tab">Penedo, AL</div>
                        <div class="tabs-body-item">
                            Penedo, AL Tab 3 content. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                        </div>
                    </div>
                    <div id="tab4" class="tabs-body">
                        <div class="tab-bind-accordion c-tab">Penedo, AL</div>
                        <div class="tabs-body-item">
                            44444 Penedo, AL Tab 3 content. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.

                            <div class="image-midia">
                                <picture alt="imagem alt">
                                    <source
                                    media="(min-width: 1024px)"
                                    srcset="http://cms.devebt.amxdev.net/sites/embratel/imagem/faça-seu-novo-sites-1495654689360.jpg?blobnocache=true">
                                    <source
                                    media="(min-width: 650px)"
                                    srcset="http://cms.devebt.amxdev.net/sites/embratel/imagem/faça-seu-novo-sites-1495654689360.jpg?blobnocache=true">

                                    <source
                                    media="(min-width: 319px)"
                                    srcset="http://cms.devebt.amxdev.net/sites/embratel/imagem/faça-seu-novo-sites-1495654689360.jpg?blobnocache=true">

                                    <img src="http://cms.devebt.amxdev.net/sites/embratel/imagem/faça-seu-novo-sites-1495654689360.jpg?blobnocache=true" alt="Imagem">

                                </picture>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="legal-text">* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.</div>

                <div class="footer-component">Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. </div>


                <div class="col-sm-3">
                    <br><br>
                    <button type="button" class="btn-color5" data-toggle="modal" title="Clique para ver todo os conteúdo disponível no vídeo" data-target=".outros-premios-importantes">Exemplo Modal</button>
                </div>
            </div>
        </div>
    </div>
</section>
