<section class="abas_verticais sectionComponent" data-require="abasVerticais">
	<div class="container">
		<div>
		
			<div class="col-sm-12 conteudo">
				<ul class="conteudo_aba">
					<li data-el="item_1" class="active">
						<div>
							<img alt="xpto" src="http://fpoimg.com/80x80?bg_color=000&text=Desktop"></img>
						</div>
						<div class="conteudo_txt">
							<div class="titulo">Now 1</div>
							<div class="sub-titulo">Mais de 30 mil filmes e séries no conforto do seu sofá</div>
						</div>
					</li>
					<li data-el="item_2">
						<div>
							<img alt="xpto" src="http://fpoimg.com/80x80?bg_color=000&text=Desktop"></img>
						</div>
						<div class="conteudo_txt">
							<div class="titulo">Now asdfdasfds 2</div>
							<div class="sub-titulo">Mais de 30 mil filmes e séries no conforto do seu sofá</div>
						</div>
					</li>
					<li data-el="item_3">
						<div>
							<img alt="xpto" src="http://fpoimg.com/800x800?bg_color=000&text=Desktop"></img>
						</div>
						<div class="conteudo_txt">
							<div class="titulo">Now 3</div>
							<div class="sub-titulo">Mais de 30 mil filmes e séries no conforto do seu sofá</div>
						</div>
					</li>
					<li data-el="item_4">
						<div>
							<img alt="xpto" src="http://fpoimg.com/80x80?bg_color=000&text=Desktop"></img>
						</div>
						<div class="conteudo_txt">
							<div class="titulo">Now 4</div>
							
						</div>
					</li>
				</ul>
				<ul class="conteudo_desc">
					<li class="item_1 active">			
						<div class="img">
							<picture>
								<source media="(min-width: 1024px)" srcset="http://fpoimg.com/616x312?bg_color=000"/>
								<source media="(min-width: 970px)" srcset="http://fpoimg.com/485x300?bg_color=000&text=Desktop"/>
								<source media="(min-width: 319px)" srcset="http://fpoimg.com/550x250?bg_color=000000&text=Desktop"/>
								<img src="http://fpoimg.com/616x312?bg_color=000" title="imagem 2" alt="imagem 2">
							</picture>
						</div>
						<div class="bg">
							<div class="text">
								Bacon ipsum dolor amet venison picanha ribeye cow, rump buffalo cupim kielbasa t-bone prosciutto turkey. Pig pork pork loin, shankle tenderloin landjaeger tri-tip kielbasa picanha sausage meatball tail ribey af
							</div>
							<div class="wrap-btn">
								<a href="" class="btn c-button" target="_self" title="Assine já">Multitele com a NET</a>
							</div>
						</div>					
					</li>
					<li class="item_2">					
						<div class="img">
							<picture>
								<source media="(min-width: 1024px)" srcset="http://fpoimg.com/616x312?bg_color=000"/>
								<source media="(min-width: 970px)" srcset="http://fpoimg.com/485x300?bg_color=000&text=Desktop"/>
								<source media="(min-width: 319px)" srcset="http://fpoimg.com/550x250?bg_color=000000&text=Desktop"/>
								<img src="http://fpoimg.com/616x312?bg_color=000" title="imagem 2" alt="imagem 2">
							</picture>
						</div>
						<div class="bg">
							<div class="text">
								Bacon ipsum dolor amet venison picanha ribeye cow, rump buffalo cupim kielbasa t-bone prosciutto turkey. Pig pork pork loin, shankle tenderloin landjaeger tri-tip kielbasa picanha sausage meatball tail ribey af
							</div>
						</div>						
					</li>
					<li class="item_3 txt_rico">

						<div class="video" data-desk="http://dev-stg.netwcs.cloud/video/2018/05/14/desktop/01_480x207.mp4" data-tablet="http://dev-stg.netwcs.cloud/video/2018/05/14/desktop/01_480x620.mp4">
							<video  controls controlsList="nodownload" muted="muted">
								<source src="http://dev-stg.netwcs.cloud/video/2018/05/14/desktop/01_480x207.mp4"/>
							</video>
						</div>
						
						<picture>
							<source media="(min-width: 1024px)" srcset="http://fpoimg.com/616x30?bg_color=000"/>
							<source media="(min-width: 970px)" srcset="http://fpoimg.com/485x300?bg_color=000&text=Desktop"/>
							<source media="(min-width: 319px)" srcset="http://fpoimg.com/380x250?bg_color=000000&text=Desktop"/>
							<img src="http://fpoimg.com/616x30?bg_color=000" title="imagem 2" alt="imagem 2">
						</picture>
						

						<div class="text">
							<div>
								<h3><strong>X1 FEATURES</strong></h3>

								<p>
									<span style="font-size:20px">
										<strong>Say it and see it with the X1 Voice Remote</strong>
									</span>
								</p>

								<div>
									<p>
										<span style="color:#00FF00">Forget scrolling through the guide, the X1 Voice Remote makes it easy to find what you want. Use voice commands to change the channels, search for shows, get recommendations, and more.</span>
									</p>
								</div>
							</div>
						</div>

						<div class="wrap-btn">
							<a href="" class="btn c-button" target="_self" title="Assine já">22222</a>
						</div>
					</li>

					<li class="item_4">					
						<div class="img">
							<picture>
								<source media="(min-width: 1024px)" srcset="http://fpoimg.com/616x312?bg_color=000"/>
								<source media="(min-width: 970px)" srcset="http://fpoimg.com/485x300?bg_color=000&text=Desktop"/>
								<source media="(min-width: 319px)" srcset="http://fpoimg.com/550x250?bg_color=000000&text=Desktop"/>
								<img src="http://fpoimg.com/616x312?bg_color=000" title="imagem 2" alt="imagem 2">
							</picture>
						</div>
						<div class="bg">
							<div class="text">
								Bacon ipsum dolor amet venison picanha ribeye cow, rump buffalo cupim kielbasa t-bone prosciutto turkey. Pig pork pork loin, shankle tenderloin landjaeger tri-tip kielbasa picanha sausage meatball tail ribey af
							</div>
						</div>						
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>