<section class="sectionComponent banner-capas combinacao1" data-componente="bannerCapas" data-require="bannerCapas">

	<div class="owl-carousel owl-theme">
 
		<div class="banner-capas-i">
			<picture class="banner-capas-img">
				<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/1140x420/1c1c1c/b23232"/>
				<source media="(min-width: 650px)" srcset="http://via.placeholder.com/1140x620/1c1c1c/fafafa"/>
				<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/1c1c1c/32b2b2"/>
				<img src="http://via.placeholder.com/1024x390/ffffff/000000"  alt="ALT da imagem">
			</picture>
				
		</div>


		<div class="banner-capas-i">
			<picture class="banner-capas-img">
				<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/1140x420/1c1c1c/fafafa"/>
				<source media="(min-width: 650px)" srcset="http://via.placeholder.com/1140x620/1c1c1c/fafafa"/>
				<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/1c1c1c/fafafa"/>
				<img src="http://via.placeholder.com/1024x390/ffffff/000000"  alt="ALT da imagem">
			</picture>	
				
		</div>

	</div>

	<div class="banner-capas-center">
		<div class="container">
		<div class="row">
			<div class="banner-capas-conteudo c-bg-o">

				<div class="banner-capas-logo">
					<img src="http://via.placeholder.com/220x70/1c1c1c/fafafa" alt="texto alt" />
				</div>

				<h2 class="banner-capas-titulo c-title">Loreum Ipsum</h2>
				<div class="banner-capas-texto c-description">*Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos.</div>

				<span class="bill-offer c-description">
					<small>R$</small>29<small>,90/Mês</small>
				</span>

				<div class="wrap-btn">
					<a href="#" target="_self" class="btn c-button" role="button">Assine <i class="icon icon-play"></i></a>
				</div>	

			</div>
		</div>
		</div>
	</div>	
</section>
