<section class="sectionComponent" data-componente="BannerCarrossel">
	<div class="container-fluid banner-carousel" data-require="bannerCarrossel" style="transition-duration:700ms;">
		<div class="row">
			<div class="container">
				<div class="owl-carousel owl-theme" role="listbox">
					<a href="http://google.com" class="caption">
						<div class="item" data-dot="Texto do Thumb" data-thumb="http://via.placeholder.com/174x70/1c1c1c/fafafa" data-color="#999">
							<picture title="Título da imagem" alt="ALT da imagem">
								<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/1024x390/1c1c1c/fafafa"/>
								<source media="(min-width: 650px)" srcset="hhttp://via.placeholder.com/768x335/1c1c1c/fafafa"/>
								<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/1c1c1c/fafafa"/>
								<img src="http://via.placeholder.com/1024x390/ffffff/000000">
							</picture>
						</div>
					</a>
					<a href="http://google.com" class="caption">
						<div class="item" data-dot="Texto do Thumb" data-thumb="http://via.placeholder.com/174x70/1c1c1c/fafafa" data-color="#333">
							<picture title="Título da imagem" alt="ALT da imagem">
								<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/1024x390/1c1c1c/fafafa"/>
								<source media="(min-width: 650px)" srcset="hhttp://via.placeholder.com/768x335/1c1c1c/fafafa"/>
								<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/1c1c1c/fafafa"/>
								<img src="http://via.placeholder.com/1024x390/ffffff/000000">
							</picture>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
