<!-- 4 itens -->
<section class="sectionComponent banner-vitrine combinacao2" data-componente="BannerVitrine" data-require="bannerVitrine">

	<div class="row">
		<div class="col-sm-12">

			<div class="banner-vitrine-flex owl-carousel owl-theme">

				<div class="banner-vitrine-item item-hover">
					<div class="video" data-desk="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_esportes_vertical.mp4" data-tablet="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_infantil_vertical.mp4" data-mobile="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_filmes_vertical.mp4">
						<video loop='loop' muted='muted'>
							<source src='https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_esportes_vertical.mp4' />
						</video>
					</div>
					<div class="conteudo">
						<h2 class="c-title">Loreum Ipsum</h2>
					</div>
				</div>

				<div class="banner-vitrine-item item-hover">
					<div class="video" data-desk="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_esportes_vertical.mp4" data-tablet="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_infantil_vertical.mp4" data-mobile="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_filmes_vertical.mp4">
						<video loop='loop' muted='muted'>
							<source src='https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_esportes_vertical.mp4' />
						</video>
					</div>
					<div class="conteudo">
						<h2 class="c-title">Loreum Ipsum</h2>
						<div class="desc c-description">Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum
						</div>
						<a href="#" class="link" title="Assista no NOW">Assista no NOW</a>
					</div>
				</div>

				<div class="banner-vitrine-item item-hover">
					<div class="video" data-desk="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_esportes_vertical.mp4" data-tablet="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_infantil_vertical.mp4" data-mobile="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_filmes_vertical.mp4">
						<video loop='loop' muted='muted'>
							<source src='https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_esportes_vertical.mp4' />
						</video>
					</div>
					<div class="conteudo">
						<h2 class="c-title">Loreum Ipsum</h2>
						<div class="desc c-description">Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum
						</div>
						<a href="#" class="link" title="Assista no NOW">Assista no NOW</a>
					</div>
				</div>

				<div class="banner-vitrine-item item-hover">
					<div class="video" data-desk="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_esportes_vertical.mp4" data-tablet="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_infantil_vertical.mp4" data-mobile="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_filmes_vertical.mp4">
						<video loop='loop' muted='muted'>
							<source src='https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_esportes_vertical.mp4' />
						</video>
					</div>
					<div class="conteudo">
						<h2 class="c-title">Loreum Ipsum</h2>
						<div class="desc c-description">Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum
						</div>
						<a href="#" class="link" title="Assista no NOW">Assista no NOW</a>
					</div>
				</div>

			</div>

		</div>
	</div>

</section>
<!-- 4 itens mixed -->
<section class="sectionComponent banner-vitrine combinacao2" data-componente="BannerVitrine" data-require="bannerVitrine">

	<div class="row">
		<div class="col-sm-12">

			<div class="banner-vitrine-flex owl-carousel owl-theme">

				<div class="banner-vitrine-item item-hover">
					<picture title="Título da imagem" class="c-offer-image">
						<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 650px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<img src="http://via.placeholder.com/484x768/ffffff/cccccc" alt="ALT da imagem">
					</picture>
					<div class="conteudo">
						<h2 class="c-title">Loreum Ipsum</h2>
						<div class="desc c-description">Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum
						</div>
						<a href="#" class="link" title="Assista no NOW">Assista no NOW</a>
					</div>
				</div>

				<div class="banner-vitrine-item item-hover">
					<div class="video" data-desk="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_esportes_vertical.mp4" data-tablet="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_infantil_vertical.mp4" data-mobile="https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_filmes_vertical.mp4">
						<video loop='loop' muted='muted'>
							<source src='https://www.netcombo.com.br/static/html/superare-tv/img/net_tv_esportes_vertical.mp4' />
						</video>
					</div>
					<div class="conteudo">
						<h2 class="c-title">Loreum Ipsum</h2>
						<div class="desc c-description">Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum
						</div>
						<a href="#" class="link" title="Assista no NOW">Assista no NOW</a>
					</div>
				</div>

				<div class="banner-vitrine-item item-hover">
					<picture title="Título da imagem" class="c-offer-image">
						<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 650px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/ffffff/cccccc"/>
						<img src="http://via.placeholder.com/320x440/ffffff/cccccc" alt="ALT da imagem">
					</picture>
					<div class="conteudo">
						<h2 class="c-title">Loreum Ipsum</h2>
						<div class="desc c-description">Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum
						</div>
						<a href="#" class="link" title="Assista no NOW">Assista no NOW</a>
					</div>
				</div>

				<div class="banner-vitrine-item item-hover">
					<picture title="Título da imagem" class="c-offer-image">
						<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 650px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/ffffff/cccccc"/>
						<img src="http://via.placeholder.com/320x440/ffffff/cccccc" alt="ALT da imagem">
					</picture>
					<div class="conteudo">
						<h2 class="c-title">Loreum Ipsum</h2>
						<div class="desc c-description">Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum
						</div>
						<a href="#" class="link" title="Assista no NOW">Assista no NOW</a>
					</div>
				</div>

			</div>

		</div>
	</div>

</section>
<!-- 3 itens -->
<section class="sectionComponent banner-vitrine combinacao2" data-componente="bannerVitrine">

	<div class="row">
		<div class="col-sm-12">

			<div class="banner-vitrine-flex">
				<div class="banner-vitrine-item item-hover">
					<picture title="Título da imagem" class="c-offer-image">
						<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 650px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/ffffff/cccccc"/>
						<img src="http://via.placeholder.com/320x440/ffffff/cccccc" alt="ALT da imagem">
					</picture>
					<div class="conteudo">
						<h2 class="c-title">Loreum Ipsum</h2>
						<div class="desc c-description">Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum
						</div>
						<a href="#" class="link" title="Assista no NOW">Assista no NOW</a>
					</div>
				</div>

				<div class="banner-vitrine-item item-hover">
					<picture title="Título da imagem" class="c-offer-image">
						<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 650px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/ffffff/cccccc"/>
						<img src="http://via.placeholder.com/320x440/ffffff/cccccc" alt="ALT da imagem">
					</picture>
					<div class="conteudo">
						<h2 class="c-title">Loreum Ipsum</h2>
						<div class="desc c-description">Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum
						</div>
						<a href="#" class="link" title="Assista no NOW">Assista no NOW</a>
					</div>
				</div>

				<div class="banner-vitrine-item item-hover">
					<picture title="Título da imagem" class="c-offer-image">
						<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 650px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/ffffff/cccccc"/>
						<img src="http://via.placeholder.com/320x440/ffffff/cccccc" alt="ALT da imagem">
					</picture>
					<div class="conteudo">
						<h2 class="c-title">Loreum Ipsum</h2>
						<div class="desc c-description">Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum
						</div>
						<a href="#" class="link" title="Assista no NOW">Assista no NOW</a>
					</div>
				</div>

			</div>
		</div>
	</div>

</section>
<!-- 2 itens -->
<section class="sectionComponent banner-vitrine combinacao2" data-componente="bannerVitrine">

	<div class="row">
		<div class="col-sm-12">

			<div class="banner-vitrine-flex">
				<div class="banner-vitrine-item item-hover">
					<picture title="Título da imagem" class="c-offer-image">
						<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/600x600/ffffff/cccccc"/>
						<source media="(min-width: 650px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/ffffff/cccccc"/>
						<img src="http://via.placeholder.com/320x440/ffffff/cccccc" alt="ALT da imagem">
					</picture>
					<div class="conteudo">
						<h2 class="c-title">Loreum Ipsum</h2>
						<div class="desc c-description">Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum
						</div>
						<a href="#" class="link" title="Assista no NOW">Assista no NOW</a>
					</div>
				</div>

				<div class="banner-vitrine-item item-hover">
					<picture title="Título da imagem" class="c-offer-image">
						<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/600x600/ffffff/cccccc"/>
						<source media="(min-width: 650px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/ffffff/cccccc"/>
						<img src="http://via.placeholder.com/320x440/ffffff/cccccc" alt="ALT da imagem">
					</picture>
					<div class="conteudo">
						<h2 class="c-title">Loreum Ipsum</h2>
						<div class="desc c-description">Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum
						</div>
						<a href="#" class="link" title="Assista no NOW">Assista no NOW</a>
					</div>
				</div>

			</div>
		</div>
	</div>

</section>
<!-- 1 item -->
<section class="sectionComponent banner-vitrine combinacao2" data-componente="bannerVitrine">

	<div class="row">
		<div class="col-sm-12">

			<div class="banner-vitrine-flex">
				<div class="banner-vitrine-item item-centered">
					<picture title="Título da imagem" class="c-offer-image">
						<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 650px)" srcset="http://via.placeholder.com/320x440/ffffff/cccccc"/>
						<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/ffffff/cccccc"/>
						<img src="http://via.placeholder.com/320x440/ffffff/cccccc" alt="ALT da imagem">
					</picture>
					<div class="conteudo">
						<h2 class="c-title">Loreum Ipsum</h2>
						<div class="desc c-description">Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum
							Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum
						</div>
						<a href="#" class="link link-ancora" title="Assista no NOW">Assista no NOW</a>
					</div>
				</div>

			</div>
		</div>
	</div>

</section>
