<section class="sectionComponent init-carousel" data-componente="carrosselTitulo" data-require="carrosselPadrao" data-number-component="02">
	<div class="container-fluid carrosselTitulo">
		<div class="row">
			<div class="owl-carousel owl-theme" role="listbox" data-owl-loop="true" data-owl-autoplay="true" data-owl-target-dots="dots-custom">
				
				<a href="http://www.google.com" class="caption" title="Proximo Nivel-1" target="_blank">
					<div class="item" data-color="#000">
						
						<picture>
							<source media="(min-width: 1024px)" srcset="http://fpoimg.com/1140x434?text=Desktop-1&bg_color=7b7fea"/>
							<source media="(min-width: 650px)" srcset="http://fpoimg.com/1140x434?text=Desktop-1&bg_color=7b7fea"/>
							<source media="(min-width: 300px)" srcset="http://fpoimg.com/1140x434?text=Desktop-1&bg_color=7b7fea"/>
							<img src="http://fpoimg.com/1140x434?text=Desktop-1&bg_color=7b7fea" alt="Proximo Nivel-1" title="Título da imagem">
						</picture>

					</div>
				</a>
				
				<a href="http://www.google.com" class="caption" title="Proximo Nivel-2" target="_blank">
					<div class="item" data-color="#fff">
						
						<picture>
							<source media="(min-width: 1024px)" srcset="http://fpoimg.com/1140x434?text=Desktop-2&bg_color=7b7fea"/>
							<source media="(min-width: 650px)" srcset="http://fpoimg.com/1140x434?text=Desktop-2&bg_color=7b7fea"/>
							<source media="(min-width: 300px)" srcset="http://fpoimg.com/1140x434?text=Desktop-2&bg_color=7b7fea"/>
							<img src="http://fpoimg.com/1140x434?text=Desktop-2&bg_color=7b7fea" alt="Proximo Nivel-1" title="Título da imagem">
						</picture>

					</div>
				</a>
			</div>

			<div class="container-dots">
				<div class="wrapper-dots">
					<!-- IMAGE THUMB -->
					<div class="owl-dots dots-custom">
				        <div class="owl-dot visitado">
							<p class="texto-sub"> Título menor 1
								<span class="texto-destaque">Título maior 1</span>
							</p>
						</div>
					
						<div class="owl-dot visitado">
							<p class="texto-sub"> Título menor 2
								<span class="texto-destaque">Título maior 2</span>
							</p>
						</div>
					</div>

					<!-- BULLETS -->
					<ul class="bullets">
						<li class="number">item - 1</li>
						<li class="number">item - 2</li>
					</ul>
			    </div>
		    </div>		    
		</div>
	</div>
</section>