<section class="sectionComponent init-carousel combinacao1" data-componente="carrosselVideo" data-require="carrosselVideo" data-id-component="01">
	
	<div class="c-bg">
	<div class="container carrosselVideo">
		<div class="row">
			<div class="owl-carousel owl-theme" role="listbox">

				<div class="item" data-id-video="fQAJ_h4VSr0">
					<div class="video-titulo c-bg">						
						<h2 class="video-titulo-item c-title">Titulo video</h2>		
					
						<h3 class="video-titulo-item c-title">SubTitulo Video</h3>						
					</div>
					<picture>
						<source media="(min-width: 1024px)" srcset="https://img.youtube.com/vi/fQAJ_h4VSr0/maxresdefault.jpg"/>
						<source media="(min-width: 650px)" srcset="https://img.youtube.com/vi/fQAJ_h4VSr0/maxresdefault.jpg"/>
						<source media="(min-width: 300px)" srcset="https://img.youtube.com/vi/fQAJ_h4VSr0/maxresdefault.jpg"/>
						<img src="https://img.youtube.com/vi/fQAJ_h4VSr0/maxresdefault.jpg" title="imagem 1" alt="imagem 1">
					</picture>
				</div>

				<div class="item" data-id-video="De_8iGFgMUk" data-color="#333">
					<picture>
						<source media="(min-width: 1024px)" srcset="https://img.youtube.com/vi/De_8iGFgMUk/maxresdefault.jpg"/>
						<source media="(min-width: 650px)" srcset="https://img.youtube.com/vi/De_8iGFgMUk/mqdefault.jpg"/>
						<source media="(min-width: 300px)" srcset="https://img.youtube.com/vi/De_8iGFgMUk/mqdefault.jpg"/>
						<img src="https://img.youtube.com/vi/De_8iGFgMUk/maxresdefault.jpg" title="imagem 2" alt="imagem 2">
					</picture>
				</div>

				<div class="item" data-id-video="JqExIIFfbJc" data-color="#333">
					<picture>
						<source media="(min-width: 1024px)" srcset="https://img.youtube.com/vi/JqExIIFfbJc/maxresdefault.jpg"/>
						<source media="(min-width: 650px)" srcset="https://img.youtube.com/vi/JqExIIFfbJc/maxresdefault.jpg"/>
						<source media="(min-width: 300px)" srcset="https://img.youtube.com/vi/JqExIIFfbJc/maxresdefault.jpg"/>
						<img src="https://img.youtube.com/vi/JqExIIFfbJc/maxresdefault.jpg" title="imagem 2" alt="imagem 2">
					</picture>
				</div>

				<div class="item" data-id-video="Q1WCNoBiPUA" data-color="#333">
					<picture>
						<source media="(min-width: 1024px)" srcset="https://img.youtube.com/vi/Q1WCNoBiPUA/maxresdefault.jpg"/>
						<source media="(min-width: 650px)" srcset="https://img.youtube.com/vi/Q1WCNoBiPUA/maxresdefault.jpg"/>
						<source media="(min-width: 300px)" srcset="https://img.youtube.com/vi/Q1WCNoBiPUA/maxresdefault.jpg"/>
						<img src="https://img.youtube.com/vi/Q1WCNoBiPUA/maxresdefault.jpg" title="imagem 2" alt="imagem 2">
					</picture>
				</div>

				<div class="item" data-id-video="3jKdnZXH4KI" data-color="#333">
					<picture>
						<source media="(min-width: 1024px)" srcset="https://img.youtube.com/vi/3jKdnZXH4KI/maxresdefault.jpg"/>
						<source media="(min-width: 650px)" srcset="https://img.youtube.com/vi/3jKdnZXH4KI/maxresdefault.jpg"/>
						<source media="(min-width: 300px)" srcset="https://img.youtube.com/vi/3jKdnZXH4KI/maxresdefault.jpg"/>
						<img src="https://img.youtube.com/vi/3jKdnZXH4KI/maxresdefault.jpg" title="imagem 2" alt="imagem 2">
					</picture>
				</div>

				<div class="item" data-id-video="ocwvmRvBwEI" data-color="#333">
					<picture>
						<source media="(min-width: 1024px)" srcset="https://img.youtube.com/vi/ocwvmRvBwEI/maxresdefault.jpg"/>
						<source media="(min-width: 650px)" srcset="https://img.youtube.com/vi/ocwvmRvBwEI/maxresdefault.jpg"/>
						<source media="(min-width: 300px)" srcset="https://img.youtube.com/vi/ocwvmRvBwEI/maxresdefault.jpg"/>
						<img src="https://img.youtube.com/vi/ocwvmRvBwEI/maxresdefault.jpg" title="imagem 2" alt="imagem 2">
					</picture>
				</div>

				<div class="item" data-id-video="dNcKz_lijXY" data-color="#333">
					<picture>
						<source media="(min-width: 1024px)" srcset="https://img.youtube.com/vi/dNcKz_lijXY/maxresdefault.jpg"/>
						<source media="(min-width: 650px)" srcset="https://img.youtube.com/vi/dNcKz_lijXY/maxresdefault.jpg"/>
						<source media="(min-width: 300px)" srcset="https://img.youtube.com/vi/dNcKz_lijXY/maxresdefault.jpg"/>
						<img src="https://img.youtube.com/vi/dNcKz_lijXY/maxresdefault.jpg" title="imagem 2" alt="imagem 2">
					</picture>
				</div>

				<div class="item" data-id-video="BmZU0317tnI" data-color="#333">
					<picture>
						<source media="(min-width: 1024px)" srcset="https://img.youtube.com/vi/BmZU0317tnI/maxresdefault.jpg"/>
						<source media="(min-width: 650px)" srcset="https://img.youtube.com/vi/BmZU0317tnI/maxresdefault.jpg"/>
						<source media="(min-width: 300px)" srcset="https://img.youtube.com/vi/BmZU0317tnI/maxresdefault.jpg"/>
						<img src="https://img.youtube.com/vi/BmZU0317tnI/maxresdefault.jpg" title="imagem 2" alt="imagem 2">
					</picture>
				</div>

				<div class="item" data-id-video="20&v" data-color="#333">
					<picture>
						<source media="(min-width: 1024px)" srcset="https://img.youtube.com/vi/20&v/maxresdefault.jpg"/>
						<source media="(min-width: 650px)" srcset="https://img.youtube.com/vi/20&v/maxresdefault.jpg"/>
						<source media="(min-width: 300px)" srcset="https://img.youtube.com/vi/20&v/maxresdefault.jpg"/>
						<img src="https://img.youtube.com/vi/20&v/maxresdefault.jpg" title="imagem 2" alt="imagem 2">
					</picture>
				</div>

				<div class="item" data-id-video="tYApKhbhAis" data-color="#333">
					<picture>
						<source media="(min-width: 1024px)" srcset="https://img.youtube.com/vi/tYApKhbhAis/maxresdefault.jpg"/>
						<source media="(min-width: 650px)" srcset="https://img.youtube.com/vi/tYApKhbhAis/maxresdefault.jpg"/>
						<source media="(min-width: 300px)" srcset="https://img.youtube.com/vi/tYApKhbhAis/maxresdefault.jpg"/>
						<img src="https://img.youtube.com/vi/tYApKhbhAis/maxresdefault.jpg" title="imagem 2" alt="imagem 2">
					</picture>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>