<section class="sectionComponent init-carousel combinacao1" data-componente="carrosselPadrao" data-require="carrosselPadrao" data-number-component="carrosselPadrao-1526491924403">	

	<div class="container-fluid carrosselPadrao">
		<div class="row">
			<div class="owl-carousel owl-theme " role="listbox" data-owl-loop="true" data-owl-autoplay="true">
				<a href="/cc-catalogo-de-componentes/cc-carrossel" class="caption" title="Carrossel">
					<div class="item" data-color="">
						<div class="conteudo">
							<h2>Trabalhe conosco</h2>
							<div>
								Faça parte da Claro Brasil, um dos grupos de teelefonia móvel mias importante do mundo.</br></br>
								Participe da nossa equipe. Vem ser gigante.
							</div>
							
						</div>
						<picture>
							<source media="(min-width: 1024px)" srcset="http://fpoimg.com/1140x434?text=Desktop-1&bg_color=7b7fea"/>
							<source media="(min-width: 650px)" srcset="http://fpoimg.com/1140x434?text=Desktop-1&bg_color=7b7fea"/>
							<source media="(min-width: 300px)" srcset="http://fpoimg.com/1140x434?text=Desktop-1&bg_color=7b7fea"/>
							<img src="http://fpoimg.com/1140x434?bg_color=000&text=Desktop" title="imagem 1" alt="imagem 1">
						</picture>
					</div>
				</a>
			
				<a href="/cc-catalogo-de-componentes/cc-carrossel" class="caption" title="Carrossel">
					<div class="item" data-color="">
						<div class="conteudo">
							<h2>Trabalhe conosco</h2>
							<div>
								Faça parte da Claro Brasil, um dos grupos de teelefonia móvel mias importante do mundo.</br></br>
								Participe da nossa equipe. Vem ser gigante.
							</div>
							
						</div>
						<picture>
							<source media="(min-width: 1024px)" srcset="http://fpoimg.com/1140x434?text=Desktop-2&bg_color=7b7fea"/>
							<source media="(min-width: 650px)" srcset="http://fpoimg.com/1140x434?text=Desktop-2&bg_color=7b7fea"/>
							<source media="(min-width: 300px)" srcset="http://fpoimg.com/1140x434?text=Desktop-2&bg_color=7b7fea"/>
							<img src="http://fpoimg.com/1140x434?bg_color=000&text=Desktop" title="imagem 2" alt="imagem 2">
						</picture>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>