<section class="sectionComponent init-carousel" data-componente="carrosselPreview" data-require="carrosselPadrao" data-number-component="01">
	<div class="container-fluid carrosselPreview" >
		<div class="row">
			<div class="owl-carousel owl-theme" role="listbox" data-owl-loop="false" data-owl-autoplay="true" data-owl-target-dots="dots-custom">
				
				<a href="http://www.google.com" class="caption" title="Proximo Nivel-1" target="_blank">
					<div class="item" data-color="green">
						<div class="conteudo">
							<h2>Trabalhe conosco</h2>
							<div>
								Faça parte da Claro Brasil, um dos grupos de teelefonia móvel mias importante do mundo.</br></br>
								Participe da nossa equipe. Vem ser gigante.
							</div>
							
						</div>
						<picture>
							<source media="(min-width: 1024px)" srcset="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop"/>
							<source media="(min-width: 650px)" srcset="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop"/>
							<source media="(min-width: 300px)" srcset="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop"/>
							<img src="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop" title="Título da imagem" alt="ALT da imagem">
						</picture>
					</div>
				</a>

				<a href="http://www.google.com" class="caption" title="Proximo Nivel-2" target="_blank">
					<div class="item" data-color="#333">
						<div class="conteudo">
							<h2>Trabalhe conosco</h2>
							<div>
								Faça parte da Claro Brasil, um dos grupos de teelefonia móvel mias importante do mundo.</br></br>
								Participe da nossa equipe. Vem ser gigante.
							</div>
							
						</div>
						<picture>
							<source media="(min-width: 1024px)" srcset="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop"/>
							<source media="(min-width: 650px)" srcset="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop"/>
							<source media="(min-width: 300px)" srcset="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop"/>
							<img src="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop" title="Título da imagem" alt="ALT da imagem">
						</picture>
					</div>
				</a>
				<a href="http://www.google.com" class="caption" title="Proximo Nivel-2" target="_blank">
					<div class="item" data-color="#333">
						<picture>
							<source media="(min-width: 1024px)" srcset="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop"/>
							<source media="(min-width: 650px)" srcset="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop"/>
							<source media="(min-width: 300px)" srcset="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop"/>
							<img src="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop" title="Título da imagem" alt="ALT da imagem">
						</picture>
					</div>
				</a>
				<a href="http://www.google.com" class="caption" title="Proximo Nivel-2" target="_blank">
					<div class="item" data-color="#333">
						<picture>
							<source media="(min-width: 1024px)" srcset="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop"/>
							<source media="(min-width: 650px)" srcset="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop"/>
							<source media="(min-width: 300px)" srcset="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop"/>
							<img src="http://fpoimg.com/1140x434?bg_color=CCC&text=Desktop" title="Título da imagem" alt="ALT da imagem">
						</picture>
					</div>
				</a>
				
			</div>

			<div class="owl-dots dots-custom">
				<div class="owl-dot visitado">
					Transformação Digital
					<img class="img-responsive" src="http://fpoimg.com/300x70?bg_color=CCC&text=Desktop">
				</div>
				<div class="owl-dot visitado">
					Proximo Nivel
					<img class="img-responsive" src="http://fpoimg.com/300x70?text=Wide Skyscraper&bg_color=ee6dcf">
				</div>
				<div class="owl-dot visitado">
					Proximo Nivel
					<img class="img-responsive" src="http://fpoimg.com/300x70?text=Wide Skyscraper&bg_color=ee6dcf">
				</div>
				<div class="owl-dot visitado">
					Proximo Nivel
					<img class="img-responsive" src="http://fpoimg.com/300x70?text=Wide Skyscraper&bg_color=ee6dcf">
				</div>
			</div>
		</div>
	</div>
</section>