<section class="chamada-destaque-horizontal sectionComponent">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="main-title">Titulo</h2> 
				<h3 class="main-subtitle">Sub Titulo chamada destaque horizontal Sem Imagem</h3>
			</div>
		</div>
	</div>
	<div class="bg" style="background-color: #FFCC00;">
		<div class="container">
			<div class="g-call-to-action">
				<div class="call-to-action-holder -image-right">
					<div class="description">

						<h3 class="title">Acesso exclusivo.</h3>
						<p class="subtitle">Subtítulo!</p>
						<div class="text">Se você tem antivírus + backup NET, faça seu login.</div>

						<span class="bill-offer">
							<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
						</span>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Amarelo" role="button">Fale com um consultor
								<i class="icon-right fa fa-angle-right"></i>
							</a>
						</div>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Azul" role="button">Fale com um consultor
								<i class="icon-right fa fa-angle-right"></i>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="chamada-destaque-horizontal sectionComponent">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="main-title">Titulo</h2> 
				<h3 class="main-subtitle">SSub Titulo chamada destaque horizontal Imagem Direita</h3>
			</div>
		</div>
	</div>
	<div class="bg">
		<div class="container">
			<div class="g-call-to-action">
				<div class="call-to-action-holder -image-right">
					<picture class="image">
						<source media="(min-width: 1024px)" srcset="//dummyimage.com/400x350/444/fff.png">
						<source media="(min-width: 650px)" srcset="//dummyimage.com/400x350/444/fff.png">
						<source media="(min-width: 319px)" srcset="//dummyimage.com/400x350/444/fff.png">
						<img src="//dummyimage.com/400x350/444/fff.png" alt="texto alternativo">
					</picture>

					<div class="description">

						<h3 class="title">Acesso exclusivo.</h3>
						<p class="subtitle">Subtítulo!</p>
						<p class="text">Se você tem antivírus + backup NET, faça seu login.</p>

						<span class="bill-offer">
							<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
						</span>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Amarelo" role="button">Fale com um consultor
								<i class="icon-right fa fa-angle-right"></i>
							</a>
						</div>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Azul" role="button">Fale com um consultor
								<i class="icon-right fa fa-angle-right"></i>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="chamada-destaque-horizontal sectionComponent">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
			</div>
		</div>
	</div>
	<div class="bg" style="background-color: #00CCFF;">
		<div class="container">
			<div class="g-call-to-action">
				<div class="call-to-action-holder -image-right">
					<picture class="image">
						<source media="(min-width: 1024px)" srcset="//dummyimage.com/400x750/444/fff.png">
						<source media="(min-width: 650px)" srcset="//dummyimage.com/200x350/444/fff.png">
						<source media="(min-width: 319px)" srcset="//dummyimage.com/200x350/444/fff.png">
						<img src="//dummyimage.com/200x350/444/fff.png" alt="texto alternativo">
					</picture>

					<div class="description">

						<h3 class="title">Acesso exclusivo.</h3>
						<p class="subtitle">Subtítulo!</p>
						<p class="text">Se você tem antivírus + backup NET, faça seu login.</p>

						<span class="bill-offer">
							<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
						</span>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Amarelo" role="button">Fale com um consultor
								<i class="icon-right fa fa-angle-right"></i>
							</a>
						</div>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Azul" role="button">Fale com um consultor
								<i class="icon-right fa fa-angle-right"></i>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="chamada-destaque-horizontal sectionComponent">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="main-title">Titulo</h2> 
				<h3 class="main-subtitle">Sub Titulo chamada destaque horizontal Imagem Esquerda</h3>
			</div>
		</div>
	</div>
	<div class="bg" style="background-color: #CCFF00;">
		<div class="container">
			<div class="g-call-to-action">
				<div class="call-to-action-holder">
					<picture class="image">
						<source media="(min-width: 1024px)" srcset="//dummyimage.com/400x750/444/fff.png">
						<source media="(min-width: 650px)" srcset="//dummyimage.com/300x750/444/fff.png">
						<source media="(min-width: 319px)" srcset="//dummyimage.com/400x750/444/fff.png">
						<img src="//dummyimage.com/400x750/444/fff.png" alt="texto alternativo">
					</picture>

					<div class="description">

						<h3 class="title">Acesso exclusivo.</h3>
						<p class="subtitle">Subtítulo!</p>
						<p class="text">Se você tem antivírus + backup NET, faça seu login.</p>

						<span class="bill-offer">
							<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
						</span>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Amarelo" role="button">Fale
								<i class="icon-right fa fa-angle-right"></i>
							</a>
						</div>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Azul" role="button">Fale
								<i class="icon-right fa fa-angle-right"></i>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="chamada-destaque-horizontal sectionComponent">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="main-title">Titulo</h2> 
				<h3 class="main-subtitle">Sub Titulo chamada destaque horizontal Imagem Esquerda</h3>
			</div>
		</div>
	</div>
	<div class="bg">
		<div class="container">
			<div class="g-call-to-action">
				<div class="call-to-action-holder">
					<picture class="image">
						<source media="(min-width: 1024px)" srcset="//dummyimage.com/400x750/444/fff.png">
						<source media="(min-width: 650px)" srcset="//dummyimage.com/300x750/444/fff.png">
						<source media="(min-width: 319px)" srcset="//dummyimage.com/400x750/444/fff.png">
						<img src="//dummyimage.com/400x750/444/fff.png" alt="texto alternativo">
					</picture>

					<div class="description">

						<h3 class="title">Acesso exclusivo.</h3>
						<p class="subtitle">Subtítulo!</p>
						<p class="text">Se você tem antivírus + backup NET, faça seu login.</p>

						<span class="bill-offer">
							<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
						</span>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Amarelo" role="button">Fale com um consultor
								<i class="icon-right fa fa-angle-right"></i>
							</a>
						</div>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Azul" role="button">Fale com um consultor
								<i class="icon-right fa fa-angle-right"></i>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
