<section class="sectionComponent destaque-ofertas-mes" data-componente="destaqueOfertasMes">
	
	<div class="container">
	<div class="row">
			<h2 class="main-title">Destaque Oferta Mes</h2> 
			<h3 class="main-subtitle">Sub Titulo</h3> 
			<div class="offer-flex">
				<div class="offer-wrap">
					<div class="offer-item highlight">
						<picture title="Título da imagem" class="offer-image">
							<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/320x440/1c1c1c/fafafa"/>
							<source media="(min-width: 650px)" srcset="http://via.placeholder.com/320x440/1c1c1c/fafafa"/>
							<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/1c1c1c/fafafa"/>
							<img src="http://via.placeholder.com/320x440/ffffff/000000" alt="ALT da imagem">
						</picture>

						<div class="offer-content">
							<h2 class="offer-title">Pacote Premiere Total</h2>
							<h3 class="offer-subtitle">Subtítulo</h3>
							
							<div class="offer-text">Assine pelo site e tenha os principais Campeonatos Estaduais, todos os jogos do Brasileirão, a maior cobertura em HD, jogos exclusivos e ainda ajuda o time do coração – parte da assinatura vai para os clubes.</div>

							<div class="wrap-btn">
								<a href="#" target="_self" class="botao Link" role="button">assine já <i class="icon-right fa fa-play"></i></a>
							</div>

							<span class="bill-offer">
								<small>R$</small>29<small>,90/Mês</small>
							</span>

							<div class="wrap-btn">
								<a href="#" target="_self" class="botao Amarelo" role="button">assine já <i class="icon-right fa fa-angle-right"></i></a>
							</div>
						</div>
						
					</div>

					<div class="offer-item secondary">
						<picture title="Título da imagem" class="offer-image">
							<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/250x200/1c1c1c/fafafa"/>
							<source media="(min-width: 650px)" srcset="http://via.placeholder.com/250x200/1c1c1c/fafafa"/>
							<source media="(min-width: 300px)" srcset="http://via.placeholder.com/250x200/1c1c1c/fafafa"/>
							<img src="http://via.placeholder.com/250x200/1c1c1c/fafafa"  alt="ALT da imagem">
						</picture>							
											
						<h2 class="offer-title">Loreum Ipsum</h2>
						<h3 class="offer-subtitle">Loreum ipsum</h3>
						
						<div class="offer-text">Loreum ipsum Loreum ipsum Loreum ipsumLoreum ipsum Loreum ipsum Loreum ipsum</div>

						<span class="bill-offer">
							<small>R$</small>29<small>,90/Mês</small>
						</span>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Azul" role="button">assine já <i class="icon-right fa fa-angle-right"></i></a>
						</div>				
					</div>


					<div class="offer-item secondary">
						<picture title="Título da imagem" class="offer-image">
							<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/250x200/1c1c1c/fafafa"/>
							<source media="(min-width: 650px)" srcset="http://via.placeholder.com/250x200/1c1c1c/fafafa"/>
							<source media="(min-width: 300px)" srcset="http://via.placeholder.com/250x200/1c1c1c/fafafa"/>
							<img src="http://via.placeholder.com/250x200/1c1c1c/fafafa"  alt="ALT da imagem">
						</picture>											

						<h2 class="offer-title">Loreum Ipsum</h2>
						<h3 class="offer-subtitle">Loreum ipsum</h3>
						
						<div class="offer-text">Loreum ipsum</div>

						<span class="bill-offer">
							<small>R$</small>29<small>,90/Mês</small>
						</span>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Amarelo" role="button">assine já</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>