<section class="sectionComponent destaque-assinante" data-require="destaqueAssinante">
	<div class="container">
		<div class="row">
			<div class="wrap-toggle-button">
				<div class="wrap-main-titles">
					<h2 class="main-title">Destaque Assinante</h2> 
					<h3 class="main-subtitle">Subtítulo</h3>
				</div>

				<div class="wrap-btn">
					<span class="g-main-button botao Azul right OpenDestaqueAssinante" title="Saiba Mais">Saiba Mais <i class="fa neticon-seta_up2"></i></a>
				</div>
			</div>

			<div class="exclusividade-net-container" data-show="destaque-assinante">
				<div class="col-cla-lf">								
					<div class="exclusividade-net_item" style="background-color: #CC00ff;">
						<picture title="Título da imagem">
							<source media="(min-width: 1024px)" srcset="assets/images/logo-claro.png"/>
							<source media="(min-width: 650px)" srcset="assets/images/logo-claro.png"/>
							<source media="(min-width: 300px)" srcset="assets/images/logo-claro.png"/>
							<img src="assets/images/logo-claro.png" class="img-responsive" alt="ALT da imagem">
						</picture>

						<div class="exclusividade-net_overlay" style="background-color: #FFCC00;">
							<p class="exclusividade-net_titulo-overlay">Fatura online Cloud</p>
							<span class="exclusividade-net_texto-overlay"><div>Acesse aqui sua fatura online</div>
							</span>

							<a href="http://cms.devebt.amxdev.net/sites/embratel/subdestaque-teste" target="_self" class="g-main-button botao Azul" role="button" title="Saiba Mais">Saiba Mais <i class="fa fa-angle-right right"></i></a>

						</div>
					</div>
					<div class="exclusividade-net_item">
						<picture title="Título da imagem">
							<source media="(min-width: 1024px)" srcset="assets/images/logo-claro.png"/>
							<source media="(min-width: 650px)" srcset="assets/images/logo-claro.png"/>
							<source media="(min-width: 300px)" srcset="assets/images/logo-claro.png"/>
							<img src="assets/images/logo-claro.png" class="img-responsive" alt="ALT da imagem">
						</picture>

						<div class="exclusividade-net_overlay">
							<p class="exclusividade-net_titulo-overlay">Fatura online Cloud</p>
							<span class="exclusividade-net_texto-overlay"><div>Acesse aqui sua fatura online</div>
							</span>

							<a href="http://cms.devebt.amxdev.net/sites/embratel/subdestaque-teste" target="_self" class="g-main-button botao Amarelo" role="button" title="Saiba Mais">Saiba Mais <i class="fa fa-angle-right right"></i></a>

						</div>
					</div>
					<div class="exclusividade-net_item">
						<picture title="Título da imagem">
							<source media="(min-width: 1024px)" srcset="http://fpoimg.com/262x234?text=Desktop"/>
							<source media="(min-width: 650px)" srcset="http://fpoimg.com/262x234?text=Tablet"/>
							<source media="(min-width: 300px)" srcset="http://fpoimg.com/262x234?text=Mobile"/>
							<img src="http://fpoimg.com/262x234?text=Desktop" class="img-responsive" alt="ALT da imagem">
						</picture>

						<div class="exclusividade-net_overlay">
							<p class="exclusividade-net_titulo-overlay">Fatura online Cloud</p>
							<span class="exclusividade-net_texto-overlay"><div>Acesse aqui sua fatura online</div>
							</span>

							<a href="http://cms.devebt.amxdev.net/sites/embratel/subdestaque-teste" target="_self" class="g-main-button botao Azul" role="button" title="Saiba Mais">Saiba Mais <i class="fa fa-angle-right right"></i></a>

						</div>
					</div>
					<div class="exclusividade-net_item">
						<picture title="Título da imagem">
							<source media="(min-width: 1024px)" srcset="http://fpoimg.com/262x234?text=Desktop"/>
							<source media="(min-width: 650px)" srcset="http://fpoimg.com/262x234?text=Tablet"/>
							<source media="(min-width: 300px)" srcset="http://fpoimg.com/262x234?text=Mobile"/>
							<img src="http://fpoimg.com/262x234?text=Desktop" class="img-responsive" alt="ALT da imagem">
						</picture>

						<div class="exclusividade-net_overlay">
							<p class="exclusividade-net_titulo-overlay">Fatura online Cloud</p>
							<span class="exclusividade-net_texto-overlay"><div>Acesse aqui sua fatura online</div>
							</span>

							<a href="http://cms.devebt.amxdev.net/sites/embratel/subdestaque-teste" target="_self" class="g-main-button botao Azul" role="button" title="Saiba Mais">Saiba Mais <i class="fa fa-angle-right right"></i></a>

						</div>
					</div>
				</div>							

				<div class="col-cla-rg">
					<ul class="destaque-assinante-links">
						<li><a href="#" title="Link Principal" class="title"><i class="fa fa-user"></i> Minha Net</a></li>
						<li><a href="#" title="Item 1"><i class="icon-left fa fa-user left"></i>Item 1 <i class="fa neticon-seta_avancar right"></i></a></li>
						<li><a href="#" title="Item 2"><i class="icon-left fa fa-user left"></i>Item 2 <i class="fa neticon-seta_avancar right"></i></a></li>
						<li><a href="#" title="Item 3">Item 3 <i class="fa neticon-seta_avancar right"></i></a></li>
						<li><a href="#" title="Item 4">Item 4 <i class="fa neticon-seta_avancar right"></i></a></li>
						<li><a href="#" title="Item 5">Item 5 <i class="fa neticon-seta_avancar right"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="legal-text">* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.</div>

			<div class="footer-component">Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. </div>
		</div>
	</div>
</section>