<section class="sectionComponent destaque-canais" data-componente="destaqueCanais">
	
	<div class="container">
	<div class="row" data-require="destaqueCanais">
			<div class="carrossel-canais owl-theme">

				<div class="destaque-item item">
					<picture title="Título da imagem" class="destaque-image">
						<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/640x420/fafafa/1c1c1c"/>
						<source media="(min-width: 650px)" srcset="http://via.placeholder.com/640x420/1c1c1c/fafafa"/>
						<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/1c1c1c/fafafa"/>
						<img src="http://via.placeholder.com/1024x390/ffffff/000000"  alt="ALT da imagem">
					</picture>

					<div class="destaque-texto">

						<div class="wrap-image">
							<img src="http://via.placeholder.com/220x70/1c1c1c/fafafa" alt="texto alt" />
						</div>

						<h2>Loreum Ipsum</h2>
						<h3>Loreum ipsum</h3>
						<p>*Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
					</div>
				</div>


				<div class="destaque-item item">
					<picture title="Título da imagem" class="destaque-image">
						<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/640x420/1c1c1c/fafafa"/>
						<source media="(min-width: 650px)" srcset="http://via.placeholder.com/640x420/1c1c1c/fafafa"/>
						<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/1c1c1c/fafafa"/>
						<img src="http://via.placeholder.com/1024x390/ffffff/000000" alt="ALT da imagem">
					</picture>

					<div class="destaque-texto">
						<div class="wrap-image">
							<img src="http://via.placeholder.com/220x70/1c1c1c/fafafa" alt="texto alt" />
						</div>
						
						<h2>Loreum Ipsum</h2>
						<h3>Loreum ipsum</h3>
						<p>*Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	
</section>
