<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <div class="g-message" data-component="change-combination">
      <div class="holder-content">
        <div class="logo">
          <img src="https://dummyimage.com/50x50/d52a1e/ffffff.png" alt="Logotipo da Claro" width="50" height="50">
        </div>

        <div class="description">
          <span class="code">Erro 401</span>
          <h1 class="title">Parece que você não tem permissão para acessar essa página.</h1>
          <p class="disclaimer">Não se preocupe, não vamos te deixar na mão. É só ir para a
            <a href="#">página inicial</a> ou escolher um dos caminhos abaixo:</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>