<section class="flex-wrapp eventos sectionComponent">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="c-flex-content">
					<div class="flex-itens combinacao1">
						<h2 class="main-title">Titulo</h2>
						<h3 class="main-subtitle">Sub Titulo</h3>
						
						<div class="list-flex wrapper-event">
							<div class="list-i-flex item">
								<a href="http://cms.devebt.amxdev.net/sites/embratel/paginainterna-cloud" target="_self" title="txt acess. Saiba mais" class="list-flex-content c-bg" >
									<div class="col">
										<div class="description">
											<h3 class="i-title title c-title">DDD básico</h3>
											<div class="c-flex-description c-description text">DDD entre telefones fixos e de fixo para móvel para qualquer lugar do Brasil.</div>
										</div>
									</div>
									<div class="col">
										<div class="box-img">
											<img src="http://fpoimg.com/270x270?text=Desktop" alt="Texto acessibilidade ">
										</div>
									</div>
								</a>
							</div>
							<div class="list-i-flex item">
								<a href="http://cms.devebt.amxdev.net/sites/embratel/paginainterna-cloud" target="_self" title="txt acess. Saiba mais" class="list-flex-content c-bg">
									<div class="col">
										<div class="description">
											<h3 class="i-title title c-title">DDD básico</h3>
											<div class="c-flex-description c-description text">DDD entre telefones fixos e de fixo para móvel para qualquer lugar do Brasil.</div>
										</div>
									</div>
									<div class="col">
										<div class="box-img">
											<img src="http://fpoimg.com/270x270?text=Desktop" alt="Texto acessibilidade ">
										</div>
									</div>
								</a>
							</div>
							<div class="list-i-flex item">
								<a href="http://cms.devebt.amxdev.net/sites/embratel/paginainterna-cloud" target="_self" title="txt acess. Saiba mais" class="list-flex-content c-bg">
									<div class="col no-image">
										<div class="description">
											<h3 class="i-title title c-title">wdfewf´´aásd´sadsa´dsa´da</h3>
											<div class="c-flex-description c-description text">adfasdfsadf</div>
										</div>
									</div>
								</a>
							</div>
							<div class="list-i-flex item">
								<a href="http://cms.devebt.amxdev.net/sites/embratel/paginainterna-cloud" target="_self" title="txt acess. Saiba mais" class="list-flex-content c-bg">
									<div class="col no-image">
										<div class="description">
											<h3 class="i-title title c-title">Calypso sem Joelmas</h3>
											<div class="c-flex-description c-description text">Banda Calypso faz sua primeira apresentação sem Joelma, com Thábata e Chimbinha;</div>
										</div>
									</div>
								</a>
							</div>
						</div>

						<div class="legal-text">* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.</div>

						<div class="footer-component">Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
