<section class="sectionComponent" data-componente="ExclusividadeNet">
	<div class="exclusividade-net">
		<div class="container combinacao2">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="main-title">Teste título</h2>
					<h3 class="main-subtitle">Teste subtítulo</h3>
					<div class="exclusividade-net-container">
						<div class="row">

							<div class="col-sm-6 col-md-3">
								<div class="exclusividade-net_item c-bg">

									<img class="img-responsive" src="http://fpoimg.com/262x234?text=Desktop" alt="Fatura Online Cloud" />

									<div class="exclusividade-net_overlay c-bg">
										<p class="exclusividade-net_titulo-overlay c-title">Fatura online Cloud</p>
										<span class="exclusividade-net_texto-overlay c-description"><div>Acesse aqui sua fatura online</div>
										</span>




										<a href="http://cms.devebt.amxdev.net/sites/embratel/subdestaque-teste" target="_self" class="g-main-button c-button" role="button" title="Saiba Mais">Saiba Mais</a>

									</div>
								</div>
							</div>

							<div class="col-sm-6 col-md-3">
								<div class="exclusividade-net_item c-bg">

									<img class="img-responsive" src="http://fpoimg.com/262x234?text=Desktop" alt="Fatura Digital Faz um 21"/>

									<div class="exclusividade-net_overlay c-bg">
										<p class="exclusividade-net_titulo-overlay c-title">Fatura Digital Faz um 21</p>
										<span class="exclusividade-net_texto-overlay c-description"><div>Muito mais praticidade e rapidez para você.</div>
										</span>




										<a href="http://www.google.com" target="_blank" class="g-main-button c-button" role="button" title="Texto acessível do link externo">Google</a>

									</div>
								</div>
							</div>


							<div class="col-sm-6 col-md-3">
								<div class="exclusividade-net_item c-bg">

									<img class="img-responsive" src="http://fpoimg.com/262x234?text=Desktop" alt="Recuperação de serviço"/>

									<div class="exclusividade-net_overlay c-bg">
										<p class="exclusividade-net_titulo-overlay c-title">Recuperação de serviço</p>
										<span class="exclusividade-net_texto-overlay c-description"><div>Abra e acompanhe&nbsp;um chamado</div>
										</span>



										<button type="button" class="g-main-button c-button" data-toggle="modal" title="Clique para ver todo os conteúdo disponível no vídeo" data-target=".componente-Video-2">Ver conteúdo do vídeo</button>

										<div class="modal fade componente-Video-2" tabindex="-1" role="dialog" aria-labelledby="modalComponenteVideo">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="icon icon-fechar close" data-dismiss="modal" aria-label="fechar"></button>
														<h2 class="modal-title" id="modalComponenteVideo">Game Of Thrones - Trailer 2</h2>
														<h2 style="text-align: center;">Estreia da 7ª temporada de Game of Thrones acontecerá em 16 de julho!</h2>

														<p style="text-align: center;">A&nbsp;<strong>HBO</strong>&nbsp;anunciou nesta tarde que a sétima temporada de&nbsp;<strong>Game of Thrones</strong>&nbsp;chegará as TVs de todo o mundo no dia&nbsp;<strong>16 de julho de 2017</strong>. A notícia veio através de uma live realizada no Facebook...</p>

													</div>

													<div class="modal-body">
														<div data-componente="videoComponente">
															<iframe title="Game Of Thrones - Trailer 2" class="iframe" style="width:600;height:800;border:0 none;" src="//www.youtube.com/embed/https://www.youtube.com/embed/2qGbcOZd5N0"></iframe>
														</div>
													</div>


												</div>
											</div>
										</div>
									</div>


								</div>
							</div>


							<div class="col-sm-6 col-md-3">
								<div class="exclusividade-net_item c-bg">

									<img class="img-responsive" src="http://fpoimg.com/262x234?text=Desktop"/>

									<div class="exclusividade-net_overlay c-bg">
										<p class="exclusividade-net_titulo-overlay c-title">Fatura Digital Mobilidade</p>
										<span class="exclusividade-net_texto-overlay c-description"><div>Fatura 100% online para você que contratou soluções de mobilidade corporativa</div>
										</span>



										<button type="button" class="g-main-button c-button" data-toggle="modal" title="Clique para ver todo os conteúdo disponível no vídeo" data-target=".componente-Video-3">Ver conteúdo do vídeo</button>

										<div class="modal fade componente-Video-3" tabindex="-1" role="dialog" aria-labelledby="modalComponenteVideo">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="icon icon-fechar close" data-dismiss="modal" aria-label="fechar"></button>
														<h2 class="modal-title" id="modalComponenteVideo">Game Of Thrones - Trailer 2</h2>
														<h2 style="text-align: center;">Estreia da 7ª temporada de Game of Thrones acontecerá em 16 de julho!</h2>

														<p style="text-align: center;">A&nbsp;<strong>HBO</strong>&nbsp;anunciou nesta tarde que a sétima temporada de&nbsp;<strong>Game of Thrones</strong>&nbsp;chegará as TVs de todo o mundo no dia&nbsp;<strong>16 de julho de 2017</strong>. A notícia veio através de uma live realizada no Facebook...</p>

													</div>

													<div class="modal-body">
														<div data-componente="videoComponente">
															<iframe title="Game Of Thrones - Trailer 2" class="iframe" style="width:100%;height:480px;border:0 none;" src="//www.youtube.com/embed/https://www.youtube.com/watch?v=Cav9R0YD1PI"></iframe>
														</div>
													</div>


												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="legal-text">* Lorem ipsum dolor sit amet.</div> 
							<div class="footer-component">Teste rodape: Pellentesque cursus nibh et lorem ullamcorper efficitur. Aenean blandit; quam vel ultricies sodales; turpis neque imperdiet odio; ac congue velit odio sit amet nisl. Vivamus ac leo tempus</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>