<section class="accordion sectionComponent"  data-require="accordion">

	<div class="container">
		<div class="row">
			<div class="col-sm-12 combinacao-padrao">
				 <h2 class="main-title">Titulo</h2> 
        		 <h3 class="main-subtitle">Sub Titulo</h3> 


				<div class="wrap-accordion c-body">
					<div class="accordion-content">
						<div class="bind-accordion c-tab">Santo Amaro das Brotas, SE</div>
						<div class="accordion-content-item">
							<p>Santo Amaro das Brotas, SE  simple solution for having tabbed content on a large screen but turn it into accordion on a smaller one. Just resize your screen below 800 pixels to see the tabbed interface transforming into an accordion.</p>
							<p>In order to keep the HTML as clean as possible, without duplicating elements, we use element attributes as CSS content to display the accordion tabs.</p>
						</div>
					</div>
					<div class="accordion-content">
					<div class="bind-accordion c-tab">Fernando de Noronha, PE</div>
						<div class="accordion-content-item">
							Fernando de Noronha, PE Tab 2 content. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.

							<img src="http://cms.devebt.amxdev.net/sites/embratel/imagem/faca-seu-novo-site-1495654689360.png" alt="Imagem">
						</div>
					</div>
					<div class="accordion-content">
					<div class="bind-accordion c-tab">Penedo, AL</div>
						<div class="accordion-content-item">
							Penedo, AL Tab 3 content. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
						</div>
					</div>
					<div class="accordion-content">
					<div class="bind-accordion c-tab">Penedo, 4</div>
						<div class="accordion-content-item">
							44444 Penedo, AL Tab 3 content. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
						</div>
					</div>
				</div>


				<div class="legal-text">* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.</div>

        		<div class="footer-component">Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. </div>
			</div>

		</div>
	</div>
</section>