<section class="sectionComponent grade-de-produtos" data-componente="gardeDeProdutos">
	
	<div class="container">
	<div class="row">
		<div class="col-sm-12">

			<h2 class="main-title">Grade de produtos</h2>
					
			<h3 class="main-subtitle">Grade de produtos Subtitulo</h3>

			<div class="product-grid-flex">				

					<div class="product-grid-item ">
						<div class="bg"></div>
						
						<h2 class="product-grid-title">Loreum Ipsum</h2>
						<div class="product-grid-text ">Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum </div>

						<span class="bill-offer">
							<span class="txt-pre ">a partir de</span>
							<small>R$</small>29<small>,90<span class="">/Mês</span></small>
						</span>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Amarelo" role="button">VER PLANOS</a>
						</div>
						
						
					</div>

				
					<div class="product-grid-item">							<div class="bg"></div>

						<h2 class="product-grid-title">Loreum Ipsum</h2>
						<div class="product-grid-text ">Loreum ipsum Loreum ipsum Loreum ipsumLoreum ipsum Loreum ipsum Loreum ipsum</div>

						<span class="bill-offer">
							<span class="txt-pre ">a partir de</span>
							<small>R$</small>29<small>,90<span class="">/Mês</span></small>
						</span>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Amarelo" role="button">VER PLANOS</a>
						</div>				
						
					</div>


					<div class="product-grid-item">
						<div class="bg"></div>
						<h2 class="product-grid-title">Loreum Ipsum</h2>
						<div class="product-grid-text ">Loreum ipsum</div>

						<span class="bill-offer">
							<span class="txt-pre ">a partir de</span>
							<small>R$</small>29<small>,90<span class="">/Mês</span></small>
						</span>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Amarelo" role="button">VER PLANOS</a>
						</div>
						
					</div>

					<div class="product-grid-item">
						<div class="bg"></div>
						
							<h2 class="product-grid-title">Loreum Ipsum</h2>
							<div class="product-grid-text ">Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum </div>

							<span class="bill-offer">
								<span class="txt-pre ">a partir de</span>
								<small>R$</small>29<small>,90<span class="">/Mês</span></small>
							</span>

							<div class="wrap-btn">
								<a href="#" target="_self" class="botao Amarelo" role="button">VER PLANOS</a>
							</div>
						
						
					</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">

			<h2 class="main-title">Grade de produtos</h2>
					
			<h3 class="main-subtitle">Grade de produtos Subtitulo</h3>

			<div class="product-grid-flex">	
				
					<div class="product-grid-item">							<div class="bg"></div>

						<h2 class="product-grid-title">Loreum Ipsum</h2>
						<div class="product-grid-text ">Loreum ipsum Loreum ipsum Loreum ipsumLoreum ipsum Loreum ipsum Loreum ipsum</div>

						<span class="bill-offer">
							<span class="txt-pre ">a partir de</span>
							<small>R$</small>29<small>,90<span class="">/Mês</span></small>
						</span>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Amarelo" role="button">VER PLANOS</a>
						</div>				
						
					</div>

					<div class="product-grid-item">
						<div class="bg"></div>

						
							<h2 class="product-grid-title">Loreum Ipsum</h2>
							<div class="product-grid-text ">Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsumLoreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum </div>

							<span class="bill-offer">
								<span class="txt-pre ">a partir de</span>
								<small>R$</small>29<small>,90<span class="">/Mês</span></small>
							</span>

							<div class="wrap-btn">
								<a href="#" target="_self" class="botao Amarelo" role="button">VER PLANOS</a>
							</div>
						
						
					</div>

					<div class="product-grid-item">
						
						<div class="bg"></div>

						<h2 class="product-grid-title">Loreum Ipsum</h2>
						<div class="product-grid-text ">Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsumLoreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum </div>

						<span class="bill-offer">
							<span class="txt-pre ">a partir de</span>
							<small>R$</small>29<small>,90<span class="">/Mês</span></small>
						</span>

						<div class="wrap-btn">
							<a href="#" target="_self" class="botao Amarelo" role="button">VER PLANOS</a>
						</div>						
						
					</div>
				
			</div>
		</div>
	</div>
	</div>
	
</section>
