<section class="sectionComponent imagem-link combinacao1" data-componente="ImagemComLink">

	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<h2 class="main-title">Imagem com Link</h2>
						
				<h3 class="main-subtitle">Imagem com Link Subtitulo</h3>

				<div class="wrap-imagem-link">
					<a href="index.html" title="imagem com link">
						<picture class="item-imagem-link">
							<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/1140x420/1c1c1c/b23232"/>
							<source media="(min-width: 650px)" srcset="http://via.placeholder.com/1140x620/1c1c1c/fafafa"/>
							<source media="(min-width: 300px)" srcset="http://via.placeholder.com/550x335/1c1c1c/32b2b2"/>
							<img src="http://cms.devebt.amxdev.net/sites/embratel/imagem/cloud-computing-1495654825031.jpg"  alt="ALT da imagem">
						</picture>
					</a>
				</div>

			</div>
		</div>
	</div>

</section>