<section class="impressa sectionComponent">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 combinacao1">
				<h2 class="main-title">Titulo</h2>
				<h3 class="main-subtitle">Sub Titulo</h3>
				<div class="wrapper-press">
					<div class="row">
						<div class="col-sm-6 item">
							<a href="http://cms.devebt.amxdev.net/sites/embratel/paginainterna-cloud" target="_self" title="txt acess. Saiba mais">
								<div class="inner-item c-bg">
									<div class="col">
										<div class="description">
											<h3 class="title c-title">DDD básico</h3>
											<div class="text c-description">DDD entre telefones fixos e de fixo para móvel para qualquer lugar do Brasil. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ipsam tempore est illum dolorem minus architecto, facilis, deserunt alias facere explicabo aperiam, atque quasi. Fugiat doloremque consequuntur provident quisquam voluptate!</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 item">
							<a href="http://cms.devebt.amxdev.net/sites/embratel/paginainterna-cloud" target="_self" title="txt acess. Saiba mais">
								<div class="inner-item c-bg">
									<div class="col">
										<div class="description">
											<h3 class="title c-title">DDD básico</h3>
											<div class="text c-description">DDD entre telefones fixos e de fixo para móvel para qualquer lugar do Brasil.</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 item">
							<a href="http://cms.devebt.amxdev.net/sites/embratel/paginainterna-cloud" target="_self" title="txt acess. Saiba mais">
								<div class="inner-item c-bg">
									<div class="col">
										<div class="description">
											<h3 class="title c-title">DDD básico</h3>
											<div class="text c-description">DDD entre telefones fixos e de fixo para móvel para qualquer lugar do Brasil.</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 item">
							<a href="http://cms.devebt.amxdev.net/sites/embratel/paginainterna-cloud" target="_self" title="txt acess. Saiba mais">
								<div class="inner-item c-bg">
									<div class="col">
										<div class="description">
											<h3 class="title c-title">DDD básico</h3>
											<div class="text c-description">DDD entre telefones fixos e de fixo para móvel para qualquer lugar do Brasil.</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="legal-text">
					* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam.
					Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique.
					Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.
				</div>
				<div class="footer-component">Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. </div>
			</div>
		</div>
	</div>
</section>
