<section class="ja-sabe-o-que-quer sectionComponent">

	<div class="combinacao3">
		<div class="container">
			<h2 class="main-title">Padrão de título de componente "Já sabe o que quer?"</h2>
			<h3 class="main-subtitle">Padrão de subtítulo do componente</h3>
		</div>

		<div class="destaque-item item">
			<div class="col-sm-6">
				<picture title="Ttulo da imagem" class="destaque-image">
					<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/1200x900/333/ffffff"/>
					<source media="(min-width: 650px)" srcset="http://via.placeholder.com/768x400/333/ffffff"/>
					<source media="(min-width: 300px)" srcset="http://via.placeholder.com/600x400/333/ffffff"/>
					<img src="http://via.placeholder.com/1200x900/000000/ffffff"  alt="ALT da imagem">
				</picture>
			</div>

			<div class="destaque-texto c-bg c-description col-sm-6">

				<h2>TÍTULO</h2>
				<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>




				<div class="owl-i-content box-desc">


					<div class="owl-i-content flex-wrap-img">
						<picture class="zigzag-image zigzag c-image">
							<img src="http://via.placeholder.com/90x70/333333/ffffff" alt="texto alternativo">
						</picture>
					</div>


					<div class="owl-flex-align c-description">
						<div>
							<h2>Tem Now <br> na sua casa?</h2>
						</div>
					</div>

					<div class="wrap-btn">
						<a href="#" target="_self" class="botao Amarelo" role="button">consulte
							<i class="icon fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
		<div class="box-sub-destaques">
			<div class="container ">
				<div class="sub-destaques row">
					<ul>
						<li class="col-sm-3">
							<h3>TÍTULO</h3>
							<div>Sem horários definidos ou grade de programação fixa, para você assistir quanto quiser.</div>
						</li>
						<li class="col-sm-3">
							<h3>TÍTULO</h3>
							<div>Sem horários definidos ou grade de programação fixa, para você assistir quanto quiser.</div>
						</li>
						<li class="col-sm-3">
							<h3>TÍTULO</h3>
							<div>Sem horários definidos ou grade de programação fixa, para você assistir quanto quiser.</div>
						</li>
						<li class="col-sm-3">
							<h3>TÍTULO</h3>
							<div>Sem horários definidos ou grade de programação fixa, para você assistir quanto quiser.</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="container">
				<div class="legal-text">* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.</div>
			</div>
		</div>

	</div>
</section>
