<section class="mosaico-component sectionComponent"  data-require="mosaico">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">   
				<h2 class="main-title">Titulo</h2> 
				<h3 class="main-subtitle">Sub Titulo</h3> 
				<div class="mosaico">
					<div class="mosaico-tb combinacao2" data-swipe="owl">
						<div class="mosaico-item item vertical">
							<div class="box-img">
								<picture class="mosaico-imagem" alt="Cloud Computing">
									<source media="(min-width: 1024px)" srcset="http://cms.devebt.amxdev.net/sites/embratel/imagem/cloud-computing-1495654825031.jpg"/>

									<source media="(min-width: 650px)" srcset="http://cms.devebt.amxdev.net/sites/embratel/tablet/imagem/cloud-computing-1495654825031.jpg"/>

									<source media="(min-width: 319px)" srcset="http://cms.devebt.amxdev.net/sites/embratel/mobile/imagem/cloud-computing-1495654825031.jpg"/>
									<img src="http://cms.devebt.amxdev.net/sites/embratel/imagem/cloud-computing-1495654825031.jpg" alt="Cloud Computing">
								</picture>
							</div>
							<div class="mosaico-conteudo c-bg">
								<h2 class="title c-title">Cloud Computing</h2>
								<p class="c-description">Sua empresa acessível a qualquer hora e de qualquer lugar, sem necessidade de investimento em estrutura própria.
								</p>
								<div class="wrap-btn">
									<a href="//fbiz.com.br" class="g-main-button c-button">Tudo em cloud</a>
								</div>
							</div>
						</div>

						<div class="mosaico-item item horizontal -tall c-bg"  style="">
							<div class="image-wrapper">

								<div class="box-img -tall-img">
									<picture class="mosaico-imagem" alt="Cloud Computing">
										<source media="(min-width: 1024px)" srcset="http://cms.devebt.amxdev.net/sites/embratel/imagem/conectividade-1495654825123.jpg"/>

										<source media="(min-width: 650px)" srcset="http://cms.devebt.amxdev.net/sites/embratel/tablet/imagem/conectividade-1495654825123.jpg"/>

										<source media="(min-width: 319px)" srcset="http://cms.devebt.amxdev.net/sites/embratel/mobile/imagem/conectividade-1495654825123.jpg"/>
										<img src="http://cms.devebt.amxdev.net/sites/embratel/imagem/conectividade-1495654825123.jpg" alt="Conectividade"> 
									</picture>
								</div>
							</div>

							<div class="mosaico-conteudo" >
								<h2 class="title c-title">Conectividade</h2>
								<p class="description c-description">Com o maior backbone da América Latina, oferecemos serviços de última geração em Voz, Dados e Internet.</p>
								<div class="wrap-btn">
									<a href="//fbiz.com.br" class="g-main-button c-button">Conectividade</a>
								</div>
							</div>
						</div>
						<div class="mosaico-item item horizontal -small c-bg"  style="">
							<div class="image-wrapper">
								<div class="box-img -small-img">
									<picture class="mosaico-imagem" alt="Cloud Computing">
										<source media="(min-width: 1024px)" srcset="http://cms.devebt.amxdev.net/sites/embratel/imagem/data-center-1495654825238.jpg"/>

										<source media="(min-width: 650px)" srcset="http://cms.devebt.amxdev.net/sites/embratel/tablet/imagem/data-center-1495654825238.jpg"/>

										<source media="(min-width: 319px)" srcset="http://cms.devebt.amxdev.net/sites/embratel/mobile/imagem/data-center-1495654825238.jpg"/>
										<img src="http://cms.devebt.amxdev.net/sites/embratel/imagem/data-center-1495654825238.jpg" alt="Data Center"> 
									</picture>
								</div>
							</div>
							<div class="mosaico-conteudo">
								<h2 class="title c-title">Data Center</h2>
								<p class="description c-description">Estrutura completa de hosting e serviços gerenciados.</p>
								<div class="wrap-btn">
									<a href="//fbiz.com.br" class="g-main-button c-button">Data center</a>
								</div>
							</div>
						</div>


					</div>
				</div>
				<div class="legal-text">* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.</div>

				<div class="footer-component">Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. </div>

			</div>
		</div>
	</div>

</section>
