<section class="noticia sectionComponent">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="main-title">Titulo</h2>
                <a href="http://cms.devebt.amxdev.net/sites/embratel/imprensa" title="Todas as not&amp;iacutecias" class="mais-noticias fake-button">Todas </br> as notícias</a>
                <div class="container c-bg">
                    <h2 class="main-title">IT Forum 2016</h2>
                    <span class="html-data">08/08/2017</span>
                    <h3 class="main-subtitle">Reuniu as maiores e mais importantes empresas do Brasil e que mais investem em TI. Sendo considerado o encontro mais eficaz na geração de leads para a Indústria de TI e Telecom.</h3>
                    <span class="html-paragrafo"><div>Evento que reuniu os 188 principais CIO´s das maiores e mais importantes empresas do Brasil no Hotel Iberostar (Praia do Forte - Bahia). Foram mais de 1.000 participantes, realizando relacionamento e negócios, durante 5 dias de muito conteúdo e business.</div>
                    </span>
                    <div class="row image-grid">
                        <div class="col-xs-12 col-sm-4 item">
                            <img src="http://fpoimg.com/360x360?text=Desktop" class="img-responsive" alt="Texto acessibilidade">
                        </div>
                        <div class="col-xs-12 col-sm-4 item">
                            <img src="http://fpoimg.com/360x360?text=Desktop" class="img-responsive" alt="Texto acessibilidade">
                        </div>
                        <div class="col-xs-12 col-sm-4 item">
                            <img src="http://fpoimg.com/360x360?text=Desktop" class="img-responsive" alt="Texto acessibilidade">
                        </div>
                        <div class="col-xs-12 col-sm-4 item">
                            <img src="http://fpoimg.com/360x360?text=Desktop" class="img-responsive" alt="Texto acessibilidade">
                        </div>
                        <div class="col-xs-12 col-sm-4 item">
                            <img src="http://fpoimg.com/360x360?text=Desktop" class="img-responsive" alt="Texto acessibilidade">
                        </div>
                        <div class="col-xs-12 col-sm-4 item">
                            <img src="http://fpoimg.com/360x360?text=Desktop" class="img-responsive" alt="Texto acessibilidade">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="legal-text">
                    * Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam.
                    Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique.
                    Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.
                </div>
                <div class="footer-component">Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. </div>
            </div>
        </div>
    </div>
</section>
