<section class="flex-wrapp" data-componente="roamingPaises">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="c-flex-content">		
					<div class="flex-itens combinacao3">
						<h2 class="main-title">Título Tarifas</h2>
						
						<div class="list-flex">
							<div class="list-i-flex c-bg" data-destaque="true">
								<div class="list-flex-content c-bg">
									<picture class="i-image">
										<source media="(min-width: 1024px)" srcset="http://fpoimg.com/240x210?bg_color=000&text=Desktop" />
										
										<source media="(min-width: 650px)" srcset="http://fpoimg.com/240x210?bg_color=000&text=Desktop" />
				                        
										<source media="(min-width: 319px)" srcset="http://fpoimg.com/240x210?bg_color=000&text=Desktop" />
										
										<img src="http://fpoimg.com/240x210?bg_color=000&text=Desktop" alt="alt i-image" title="title-imagem">
									</picture>
									
									<h2 class="i-title c-title">
										<strong>Título destaque tarifa</strong>
									</h2>
																	
									<div class="c-flex-description c-description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
									</div>
								</div>
							</div>

							<div class="list-i-flex c-bg" data-destaque="true">
								<div class="list-flex-content c-bg">
									<h2 class="i-title c-title">
										<strong>Título destaque tarifa</strong>
									</h2>
																	
									<div class="c-flex-description c-description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
									</div>		

									<div class="wrap-btn">
										<a href="http://www.google.com" class="btn c-button" target="_blank" title="Título Link botão">Acessar</a>	
									</div>									
								</div>
							</div>

							<div class="list-i-flex c-bg" data-destaque="true">
								<div class="list-flex-content c-bg">
									<picture class="i-image">
										<source media="(min-width: 1024px)" srcset="http://fpoimg.com/240x310?bg_color=000&text=Desktop" />
										
										<source media="(min-width: 650px)" srcset="http://fpoimg.com/240x310?bg_color=000&text=Desktop" />
				                        
										<source media="(min-width: 319px)" srcset="http://fpoimg.com/240x310?bg_color=000&text=Desktop" />
										
										<img src="http://fpoimg.com/240x310?bg_color=000&text=Desktop" alt="alt i-image" title="title-imagem">
									</picture>
									
									<h2 class="i-title c-title">
										<strong>Título destaque tarifa</strong>
									</h2>
																	
									<div class="c-flex-description c-description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
									</div>										
								</div>
							</div>

							<div class="list-i-flex c-bg" data-destaque="true">
								<div class="list-flex-content c-bg">
									<picture class="i-image">
										<source media="(min-width: 1024px)" srcset="http://fpoimg.com/140x110?bg_color=000&text=Desktop" />
										
										<source media="(min-width: 650px)" srcset="http://fpoimg.com/140x110?bg_color=000&text=Desktop" />
				                        
										<source media="(min-width: 319px)" srcset="http://fpoimg.com/140x110?bg_color=000&text=Desktop" />
										
										<img src="http://fpoimg.com/140x110?bg_color=000&text=Desktop" alt="alt i-image" title="title-imagem">
									</picture>
									
									<h2 class="i-title c-title">
										<strong>Título destaque tarifa</strong>
									</h2>
																	
									<div class="c-flex-description c-description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
									</div>

									<span class="bill-offer c-description"> 
										<span class="txt-pre">Apenas</span>
										<small>R$</small>19<small>,99/por semana</small>
									</span>

									<div class="wrap-btn">
										<a href="http://www.google.com" class="btn c-button" target="_blank" title="Título Link botão">Acessar</a>	
									</div>										
								</div>
							</div>

							<div class="list-i-flex c-bg" data-destaque="true">
								<div class="list-flex-content c-bg">
									<picture class="i-image">
										<source media="(min-width: 1024px)" srcset="http://fpoimg.com/160x160?bg_color=000&text=Desktop" />
										
										<source media="(min-width: 650px)" srcset="http://fpoimg.com/160x160?bg_color=000&text=Desktop" />
				                        
										<source media="(min-width: 319px)" srcset="http://fpoimg.com/160x160?bg_color=000&text=Desktop" />
										
										<img src="http://fpoimg.com/160x160?bg_color=000&text=Desktop" alt="alt i-image" title="title-imagem">
									</picture>
									
									<h2 class="i-title c-title">
										<strong>Título destaque tarifa</strong>
									</h2>
																	
									<div class="c-flex-description c-description">
										Lorem ipsum dolor sit amet
									</div>

									<div class="wrap-btn">
										<a href="http://www.google.com" class="btn c-button" target="_blank" title="Título Link botão">Acessar</a>	
									</div>										
								</div>
							</div>

							<div class="list-i-flex c-bg" data-destaque="true">
								<div class="list-flex-content c-bg">									
									<h2 class="i-title c-title">
										<strong>Título destaque tarifa Lorem Ipsum dolor sei la o que</strong>
									</h2>
																	
									<div class="c-flex-description c-description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
									</div>

									<div class="wrap-btn">
										<a href="http://www.google.com" class="btn c-button" target="_blank" title="Título Link botão">Acessar</a>	
									</div>										
								</div>
							</div>

							<div class="list-i-flex c-bg" data-destaque="true">
								<div class="list-flex-content c-bg">
									<picture class="i-image">
										<source media="(min-width: 1024px)" srcset="http://fpoimg.com/140x110?bg_color=000&text=Desktop" />
										
										<source media="(min-width: 650px)" srcset="http://fpoimg.com/140x110?bg_color=000&text=Desktop" />
				                        
										<source media="(min-width: 319px)" srcset="http://fpoimg.com/140x110?bg_color=000&text=Desktop" />
										
										<img src="http://fpoimg.com/140x110?bg_color=000&text=Desktop" alt="alt i-image" title="title-imagem">
									</picture>
									
									<h2 class="i-title c-title">
										<strong>Título destaque tarifa</strong>
									</h2>
																	
									<div class="c-flex-description c-description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									</div>

								</div>
							</div>
						</div>
					</div>			
					
					<div class="flex-itens combinacao7">
						<h2 class="main-title">Título Cobertura</h2>
					
						<div class="list-flex">							
							<div class="list-i-flex c-bg" data-destaque="true">
								<div class="list-flex-content c-bg">	
									<picture class="i-image">
										<source media="(min-width: 1024px)" srcset="http://fpoimg.com/340x340?bg_color=000&text=Desktop" />
										
										<source media="(min-width: 650px)" srcset="http://fpoimg.com/340x340?bg_color=000&text=Desktop" />
				                        
										<source media="(min-width: 319px)" srcset="http://fpoimg.com/340x340?bg_color=000&text=Desktop" />
										
										<img src="http://fpoimg.com/340x340?bg_color=000&text=Desktop" alt="alt i-image" title="title-imagem">
									</picture>
									
									<h2 class="i-title c-title">
										<strong>Título</strong>
									</h2>
																	
									<div class="c-flex-description c-description">
										Lorem ipsum dolor sit amet.
									</div>	
										
									<span class="bill-offer c-description"> 
										<span class="txt-pre">Apenas</span>
										<small>R$</small>19<small>,99/por semana</small>
									</span>

									<div class="wrap-btn">
										<a href="http://www.google.com" class="btn c-button" target="_blank" title="Título Link botão">Acessar</a>	
									</div>											
								</div>
							</div>	

							<div class="list-i-flex c-bg" data-destaque="true">
								<div class="list-flex-content c-bg">	
									<picture class="i-image">
										<source media="(min-width: 1024px)" srcset="http://fpoimg.com/140x110?bg_color=000&text=Desktop" />
										
										<source media="(min-width: 650px)" srcset="http://fpoimg.com/140x110?bg_color=000&text=Desktop" />
				                        
										<source media="(min-width: 319px)" srcset="http://fpoimg.com/140x110?bg_color=000&text=Desktop" />
										
										<img src="http://fpoimg.com/140x110?bg_color=000&text=Desktop" alt="alt i-image" title="title-imagem">
									</picture>
									
									<h2 class="i-title c-title">
										<strong>Título Destaque Cobertura</strong>
									</h2>
																	
									<div class="c-flex-description c-description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									</div>	
										
									<div class="wrap-btn">
										<a href="http://www.google.com" class="btn c-button" target="_blank" title="Título Link botão">Acessar</a>	
									</div>											
								</div>
							</div>	

							<div class="list-i-flex c-bg" data-destaque="true">
								<div class="list-flex-content c-bg">	
									<h2 class="i-title c-title">
										<strong>Título Destaque Cobertura</strong>
									</h2>
																	
									<div class="c-flex-description c-description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									</div>	
										
									<span class="bill-offer c-description"> 
										<span class="txt-pre">Apenas</span>
										<small>R$</small>19<small>,99/por semana</small>
									</span>
								</div>
							</div>	

							<div class="list-i-flex c-bg" data-destaque="true">
								<div class="list-flex-content c-bg">	
									<picture class="i-image">
										<source media="(min-width: 1024px)" srcset="http://fpoimg.com/140x110?bg_color=000&text=Desktop" />
										
										<source media="(min-width: 650px)" srcset="http://fpoimg.com/140x110?bg_color=000&text=Desktop" />
				                        
										<source media="(min-width: 319px)" srcset="http://fpoimg.com/140x110?bg_color=000&text=Desktop" />
										
										<img src="http://fpoimg.com/140x110?bg_color=000&text=Desktop" alt="alt i-image" title="title-imagem">
									</picture>
									
									<h2 class="i-title c-title">
										<strong>Título Destaque Cobertura</strong>
									</h2>
																	
									<div class="c-flex-description c-description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									</div>	
										
									<span class="bill-offer c-description"> 
										<span class="txt-pre">Apenas</span>
										<small>R$</small>19<small>,99/por semana</small>
									</span>
								</div>
							</div>	

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>