<section class="pagina-revista sectionComponent" data-componente="PaginaRevista">
	<div class="container">
		<div class="row combinacao8">
			<div class="separador col-sm-12 c-bg">
				<div class="wrap-pagina-revista">
					<figure class="col-image">
						<img src="http://fpoimg.com/360x435?text=Desktop" alt="Texto acessibilidade ">
					</figure>

					<div class="col-desc c-description">						
						<h2 class="title-revista">Lorem ipsum dolor sit amet, eiusmod dolore Incipidunt</h2>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In enim ipsum, eleifend at varius non, venenatis ut nibh. Donec id placerat sapien. Nulla bibendum rhoncus nibh, eget feugiat est fermentum sit amet. Donec dapibus sapien nulla, non dapibus lorem dignissim sit amet. Sed molestie massa eu ultricies rhoncus. Donec malesuada dolor pulvinar, sodales augue hendrerit, lobortis nunc. Aliquam ac ligula mi. Quisque non odio sit amet felis faucibus dapibus nec sed nunc. Nulla laoreet sapien eu dui imperdiet euismod facilisis nec ligula. Cras velit neque, dignissim eget nisi id, ultricies hendrerit leo. Mauris iaculis pellentesque massa ac scelerisque. Donec elementum enim vitae lectus porta, ut sodales sem posuere. Aliquam malesuada purus elit, in fermentum sapien mollis at. Maecenas ipsum nibh, aliquam sed turpis a, fermentum porta justo.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In enim ipsum, eleifend at varius non, venenatis ut nibh. Donec id placerat sapien. Nulla bibendum rhoncus nibh, eget feugiat est fermentum sit amet. Donec dapibus sapien nulla, non dapibus lorem dignissim sit amet. Sed molestie massa eu ultricies rhoncus. Donec malesuada dolor pulvinar, sodales augue hendrerit, lobortis nunc. Aliquam ac ligula mi. Quisque non odio sit amet felis faucibus dapibus nec sed nunc. Nulla laoreet sapien eu dui imperdiet euismod facilisis nec ligula. Cras velit neque, dignissim eget nisi id, ultricies hendrerit leo. Mauris iaculis pellentesque massa ac scelerisque. Donec elementum enim vitae lectus porta, ut sodales sem posuere. Aliquam malesuada purus elit, in fermentum sapien mollis at. Maecenas ipsum nibh, aliquam sed turpis a, fermentum porta justo.</p>

						<span class="bill-offer">
							<small>R$</small>10<small>,45/Mês</small>
						</span>	

						<div class="wrap-btn">
							<a href="#" target="_self" class="btn-zigzag c-button botao" role="button">Assine Agora <i class="icon icon-play"></i></a>
						</div>			
					</div>
				</div>
			</div>
		</div>
	</div>
</section>