<section class="ppv combate sectionComponent" data-componente="PPV">
	<div class="container">
		<div class="row combinacao8">
			<div class="col-sm-12">
				<div class="c-ppv-content">
					<figure class="c-ppv-image">
						<img src="http://fpoimg.com/225x85" alt="Texto acessibilidade ">
					</figure>

					<h2 class="c-ppv-title">Todas as edições do UFC ao vivo e na íntegra</h2>
					<h3 class="c-ppv-subtitle">24 horas de programação explícita e total segurança através do bloqueio  por senha e privacidade na fatura.</h3>


					<div class="i-ppv">
						<div class="i-ppv-wrap c-bg">
							<div class="i-image">
								<img src="//dummyimage.com/225x85/444/fff.png" alt="Presença WEB">
							</div>
							<div class="i-description">
																	
								<p class="text c-description"><strong>Sexy Hot</strong><br><br> Mais de 200 filmes adultos explícitos por mês, com destaque para os filmes nacionais.</p>

								<span class="bill-offer">
									<small>R$</small>29<small>,90/Mês</small>
								</span>	

								<div class="wrap-btn">
				                  <a href="#" target="_self" class="btn-zigzag c-button botao" role="button">Assine <i class="icon icon-play"></i></a>
				                </div>	

							</div>
						</div>
					</div>



				</div>
			</div>
		</div>
	</div>
</section>