<section class="parallax sectionComponent" data-require="parallax"  style="background-image: linear-gradient(359deg, rgba(0, 0, 0, 0.9), rgba(8, 22, 43, 0));">
	<div class="row">
		<div class="col-sm-12">
			<div class=" col-sm-12">
				<div class="col-sm-6 conteudo_img">
					<img src="http://dev-stg.netwcs.cloud/imagem/img-skavuska-transparente-1519602108200.png" alt="img-skavuska-transparente">
				</div>
				<div class="conteudo" id='conteudo_1' data-img='conteudo_1'>
					<div>
						<img alt="IMG MOBILE" src="http://via.placeholder.com/500x330/FFF000/ffffff">
						<h2 class="titulo">X1 Features</h2>
						<div class="descricao">With the Xfinity Stream app, get your entire channel lineup at home and top networks and live sports on the go, included with your TV service. Plus, get thousands of Xfinity On Demand movies and shows, and access your DVR library anytime, anywhere.</div>
						<span class="line"></span>
						<div class="wrap-btn">
							<a href="" class="btn botao Amarelo gtm-link-event" target="_self" title="Assine já" data-gtm-action="chamada-destaque-horizontal:click" data-gtm-label="assine-ja" data-gtm-category="claro:nao-disponivel">Assine já</a>
                        </div>
					</div>
				</div>
			</div>
			<div class=" col-sm-12">
				<div class="col-sm-6 conteudo_img">
					<img src="https://cdn.comcast.com/-/media/Images/www_xfinity_com/TV/LandingPage/New-71017/Landing-Caralax-Feature-1-VoiceRemote.jpg?rev=6c0671b1-51ea-48bd-a3c2-0e75c940ee78&mw=1280&mh=600&hash=811D1C97CEF2B53105B960938063021065E73FB3" alt="img-skavuska-transparente">
				</div>
				<div class="conteudo" id='conteudo_2' data-img='conteudo_2'>
					<div>
						<img alt="IMG MOBILE" src="https://cdn.comcast.com/-/media/Images/www_xfinity_com/TV/LandingPage/New-71017/Landing-Caralax-Feature-1-VoiceRemote.jpg?rev=6c0671b1-51ea-48bd-a3c2-0e75c940ee78&mw=1280&mh=600&hash=811D1C97CEF2B53105B960938063021065E73FB3">
						<h2 class="titulo">X2 Features</h2>
						<div class="descricao">With the Xfinity Stream app, get your entire channel lineup at home and top networks and live sports on the go, included with your TV service. Plus, get thousands of Xfinity On Demand movies and shows , and access your DVR library anytime, anywhere.</div>
						<span class="line"></span>
					</div>
				</div>
			</div>
			<div class=" col-sm-12">
				<div class="col-sm-6 conteudo_img">
					<img src="http://dev-stg.netwcs.cloud/imagem/img-skavuska-transparente-1519602108200.png" alt="img-skavuska-transparente">
				</div>
				<div class="conteudo" id='conteudo_3' data-img='conteudo_3'>
					<div>
						<img alt="IMG MOBILE" src="http://via.placeholder.com/500x330/FFF000/ffffff">
						<h2 class="titulo">X3 Features</h2>
						<div class="descricao">With the Xfinity Stream app, get your entire channel lineup at home and top networks and live sports on the go, included with your TV service. Plus, get thousands of Xfinity On Demand movies and shows, and access your DVR library anytime, anywhere.</div>

					</div>
				</div>	
			</div> 
			
			<div class="nav_bullet">
				<ul>
					<li><a  class="conteudo_1 active" href="#conteudo_1" title="xpto 1"></a></li>
					<li><a  class="conteudo_2" href="#conteudo_2" title="xpto 2"></a></li>
					<li><a  class="conteudo_3" href="#conteudo_3" title="xpto 3"></a></li>
				</ul>
			</div>

			<div class="mascara">
				<div class="conteudo_1 block" style="background-image: linear-gradient(#000, #fff);"></div>
				<div class="conteudo_2" 	  style="background-image: linear-gradient(#ffff00, #000000);"></div>
				<div class="conteudo_3" 	  style="background-image: linear-gradient(#ffgg00, #FFfffF);"></div>
			</div>

			<div class="div_bg">
				<div class="conteudo_1 block" style="background-image:url('https://cdn.comcast.com/-/media/Images/www_xfinity_com/TV/LandingPage/New-71017/Landing-Caralax-Feature-1-VoiceRemote.jpg?rev=6c0671b1-51ea-48bd-a3c2-0e75c940ee78&mw=1280&mh=600&hash=811D1C97CEF2B53105B960938063021065E73FB3')"></div>
				<div class="conteudo_2"  style="background-image:url('https://cdn.comcast.com/-/media/Images/www_xfinity_com/TV/LandingPage/New-71717/Landing-Calalax-Feature-3-Netflix.jpg?rev=db1f5086-f5c6-41d6-9ecf-207d4935e0b4&mw=1280&mh=600&hash=80651A619444D643827BF78FA479CE8584C6BC57')"></div>
				<div class="conteudo_3" style="background-image:url('https://cdn.comcast.com/-/media/Images/www_xfinity_com/TV/LandingPage/New-71717/Landing-Calalax-Feature-2-Stream.jpg?rev=ae70503c-bda8-4bb7-9a9d-019b9fcdb4d3&mw=1280&mh=600&hash=F0A83813E6E66069334BCAA031B7410802D417A4')"></div>
			</div>

		



		</div>
	</div>
</section>