<section class="c-ppv combate sectionComponent" data-componente="PayPerView" style="background: #000;" data-require="payPerView">	

	<picture class="c-ppv-bgimage" alt="">
		<source media="(min-width: 1024px)" srcset="/assets/images/BG1920x830-1374092248296.jpg" />
		
			<source media="(min-width: 650px)" srcset="/assets/images/claro-hdtv.png" />
		
			<source media="(min-width: 319px)" srcset="/assets/images/BG1920x830-1374092248296.jpg" />
		
		<img src="/assets/images/BG1920x830-1374092248296.jpg" alt="hsfjs" />

	</picture>

	<div class="container">
		<div class="row combinacao8 owl-flex">
			<div class="col-sm-12">
				<div class="c-ppv-content">
					<figure class="c-ppv-image">
						<img src="http://fpoimg.com/225x85" alt="Texto acessibilidade ">
					</figure>
					<h2 class="c-ppv-title c-title">Todas as edições do UFC ao vivo e na íntegra</h2>
					<h3 class="c-ppv-subtitle c-title">24 horas de programação explícita e total segurança através do bloqueio  por senha e privacidade na fatura.</h3>
				
					<div class="c-ppv-itens">
						<div class="list-ppv owl-flex-wrap owl-carousel">

							<div class="list-i-ppv owl-i-flex highlight" data-destaque="true">
								<div class="list-ppv-content owl-i-content c-bg">

									<!--<div class="i-image">
										<img src="//dummyimage.com/225x85/444/fff.png" alt="Presença WEB">
									</div>-->
									<h2 class="i-title c-title"><strong>Sexy Hot</strong></h2>
									<div class="owl-flex-align c-description">																			
										Mais de 200 filmes adultos explícitos por mês, com destaque para os filmes nacionais.
									</div>
									<span class="bill-offer c-description">
										<small>R$</small>29<small>,90/Mês</small>
									</span>	

									<div class="wrap-btn">
					                  <a href="#" target="_self" class="btn c-button" role="button">Assine <i class="icon icon-play"></i></a>
					                </div>	
									
								</div>
							</div>

							<div class="list-i-ppv owl-i-flex" data-destaque="false">
								<div class="list-ppv-content owl-i-content c-bg">
									<h2 class="i-title c-title"><strong>Sexy Hot</strong></h2>
									<div class="owl-flex-align c-description">

										Mais de 200 filmes adultos explícitos por mês, com destaque para os filmes nacionais.Mais de 200 filmes adultos explícitos por mês, com destaque para os filmes nacionais.Mais de 200 filmes adultos explícitos por mês, com destaque para os filmes nacionais.
									</div>
										<span class="bill-offer c-description">
											<small>R$</small>29<small>,90/Mês</small>
										</span>	
										<div class="wrap-btn">
						                  <a href="#" target="_self" class="btn c-button" role="button">Assine <i class="icon icon-play"></i></a>
						                </div>	
									
								</div>
							</div>

							<div class="list-i-ppv owl-i-flex" data-destaque="false">
								<div class="list-ppv-content owl-i-content c-bg">
									<h2 class="i-title c-title"><strong>Sexy Hot</strong></h2>
									<div class="owl-flex-align c-description">
										

									 adultos explícitos por mês, com destaque para os filmes nacionais.

									</div>
								</div>
							</div>
							<div class="list-i-ppv owl-i-flex" data-destaque="false">
								<div class="list-ppv-content owl-i-content c-bg">
									<h2 class="i-title c-title"><strong>Sexy Hot</strong></h2>
									<div class="owl-flex-align c-description">
									 adultos explícitos por mês, com destaque para os filmes nacionais.
									</div>

									<span class="bill-offer c-description">
										<small>R$</small>29<small>,90/Mês</small>
									</span>	

									<div class="wrap-btn">
										<a href="#" target="_self" class="btn c-button" role="button">Assine <i class="icon icon-play"></i></a>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="c-ppv adultos sectionComponent" data-componente="PPV" style="background: orange" data-require="payPerView">
	<div class="container">
		<div class="row combinacao8 owl-flex">
			<div class="col-sm-12">
				<div class="c-ppv-content">
					<figure class="c-ppv-image">
						<img src="http://fpoimg.com/225x85" alt="Texto acessibilidade ">
					</figure>
					<h2 class="c-ppv-title c-title">Todas as edições do UFC ao vivo e na íntegra</h2>
					<h3 class="c-ppv-subtitle c-title">24 horas de programação explícita e total segurança através do bloqueio  por senha e privacidade na fatura.</h3>
				
					<div class="c-ppv-itens">
						<div class="list-ppv owl-flex-wrap owl-carousel">						
							<div class="list-i-ppv owl-i-flex" data-destaque="false">
								<div class="list-ppv-content owl-i-content c-bg">
									<div class="i-image">
										<img src="//dummyimage.com/225x85/444/fff.png" alt="Presença WEB">
									</div>
									<h2 class="i-title c-title"><strong>Sexy Hot</strong></h2>
									<div class="owl-flex-align c-description">	
										Mais de 200 filmes adultos explícitos por mês, com destaque para os filmes nacionais.Mais de 200 filmes adultos explícitos por mês, com destaque para os filmes nacionais.Mais de 200 filmes adultos explícitos por mês, com destaque para os filmes nacionais.
									</div>
									<span class="bill-offer">
										<small>R$</small>29<small>,90/Mês</small>
									</span>	
									<div class="wrap-btn">
					                  <a href="#" target="_self" class="btn c-button" role="button">Assine <i class="icon icon-play"></i></a>
					                </div>										
								</div>
							</div>	
						
							<div class="list-i-ppv owl-i-flex" data-destaque="false">
								<div class="list-ppv-content owl-i-content c-bg">
									<div class="i-image">
										<img src="//dummyimage.com/225x85/444/fff.png" alt="Presença WEB">
									</div>
									<h2 class="i-title c-title"><strong>Sexy Hot</strong></h2>
									<div class="owl-flex-align c-description">	
										Mais de 200 filmes adultos explícitos por mês, com destaque para os filmes nacionais.
									</div>
									<span class="bill-offer">
										<small>R$</small>29<small>,90/Mês</small>
									</span>	
									<div class="wrap-btn">
					                  <a href="#" target="_self" class="btn c-button" role="button">Assine <i class="icon icon-play"></i></a>
					                </div>									
								</div>
							</div>
							<div class="list-i-ppv owl-i-flex" data-destaque="false">
								<div class="list-ppv-content owl-i-content c-bg">
									<div class="i-image">
										<img src="//dummyimage.com/225x85/444/fff.png" alt="Presença WEB">
									</div>
									<h2 class="i-title c-title"><strong>Sexy Hot</strong></h2>
									<div class="owl-flex-align c-description">
										Mais de 200 filmes adultos explícitos por mês, com destaque para os filmes nacionais.
									</div>
									<span class="bill-offer">
										<small>R$</small>29<small>,90/Mês</small>
									</span>	
									<div class="wrap-btn">
					                  <a href="#" target="_self" class="btn c-button" role="button">Assine <i class="icon icon-play"></i></a>
					                </div>									
								</div>
							</div>
							<div class="list-i-ppv owl-i-flex highlight" data-destaque="true">
								<div class="list-ppv-content owl-i-content c-bg">										
									<h2 class="i-title c-title"><strong>Sexy Hot</strong></h2>
									<div class="owl-flex-align c-description">	
										Mais de 200 filmes adultos explícitos por mês, com destaque para os filmes nacionais.
									</div>
									<span class="bill-offer">
										<span class="txt-pre">Apenas</span>
										<small>R$</small>29<small>,90/Mês</small>
									</span>	
									<div class="wrap-btn">
					                  <a href="#" target="_self" class="btn c-button" role="button">Assine <i class="icon icon-play"></i></a>
					                </div>										
								</div>
							</div>
							<div class="list-i-ppv owl-i-flex" data-destaque="false">
								<div class="list-ppv-content owl-i-content c-bg">
									<div class="i-image">
										<img src="//dummyimage.com/225x85/444/fff.png" alt="Presença WEB">
									</div>
									<h2 class="i-title c-title"><strong>Sexy Hot</strong></h2>
									<div class="owl-flex-align c-description">
										Mais de 200 filmes adultos explícitos por mês, com destaque para os filmes nacionais.
									</div>
									<span class="bill-offer">
										<small>R$</small>29<small>,90/Mês</small>
									</span>	
									<div class="wrap-btn">
					                  <a href="#" target="_self" class="btn c-button" role="button">Assine <i class="icon icon-play"></i></a>
					                </div>								
								</div>
							</div>
							<div class="list-i-ppv owl-i-flex" data-destaque="false">
								<div class="list-ppv-content owl-i-content c-bg">
									<div class="i-image">
										<img src="//dummyimage.com/225x85/444/fff.png" alt="Presença WEB">
									</div>
									<h2 class="i-title c-title"><strong>Sexy Hot</strong></h2>
									<div class="owl-flex-align c-description">
										Mais de 200 filmes adultos explícitos por mês, com destaque para os filmes nacionais.
									</div>
									<span class="bill-offer">
										<small>R$</small>29<small>,90/Mês</small>
									</span>	
									<div class="wrap-btn">
					                  <a href="#" target="_self" class="btn c-button" role="button">Assine <i class="icon icon-play"></i></a>
					                </div>								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>