<section class="form-roaming-paises" data-require="roamingBuscaPaises">
	<div class="container">
		<div class="row">
			<div class="col-sm-12"> 

				<div class="titles">
					<h2 class="title-roaming">Qual o país de destino?</h2>
												
					<p class="subtitulo">Consulte as tarifas para o país de destino</p>
				</div>

				<div class="target-list">
					<form id="formRoaming" class="forms requestJson autocomplete-geral">                            
						<fieldset>       
							<legend class="legend">Qual o país de destino?</legend>                             
							<input id="getValueAutocompleteRoaming" class="inputAutocomplete" placeholder="Ex: Brasil" role="search" type="text" data-select-msg-erro="on" />
						</fieldset>
						
						<button type="submit" class="btn cor1 btn-submit" data-home-url="http://www.claro.com.br/ainda-nao-sou-cliente">Pesquisar</button>
					</form>

					<p class="msg-erro">A Claro não possui cobertura neste país ou o nome está incorreto</p>
 				</div>
			</div>
		</div>
	</div>         
</section>