<section class="servicos-inteligentes sectionComponent" data-componente="ServicosInteligentes">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">   
				<h2 class="main-title">Titulo</h2> 
				<h3 class="main-subtitle">Sub Titulo</h3>
				
				<div class="row">
					<div class="col-sm-12">

						<div class="servicos-inteligentes-wrap">

							<div class="col-image-small">
								<img src="http://fpoimg.com/270x350?text=Desktop" alt="Texto acessibilidade ">
							</div>
							<div class="col-desc c-description">
								<div class="content">
									<p class="titulo">NOW</p>
									<div class="texto">Você controla o que, quando e onde quer assistir.São milhares de programas dos canais do seu pacote de tv para você assistir ilimitado e sem custo adicional, como filmes, séries premiadas, desenhos e programas dos canais kids.</div>

									<span class="bill-offer">
										<small>R$</small>29<small>,90/Mês</small>
									</span>	

									<div class="wrap-btn">
										<a href="#" target="_self" class="btn-zigzag  botao Azul" role="button">conheça <i class="icon icon-play"></i></a>
									</div>
								</div>
							</div>
							<div class="col-image-big">
								<img src="http://fpoimg.com/475x350?text=Desktop" alt="Texto acessibilidade ">
							</div>
						</div>


					</div>

					<div class="row-doc">
						<a href="#" title="sdn"><i class="fa fa-file-text-o"></i> <span>Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum Loreum ipsum </span></a>
					</div>

					<div class="legal-text">* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.</div>

					<div class="footer-component">Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. </div>
				</div>
			</div>
		</div>
	</div>

</section>