<section class="lista-sub-destaques sectionComponent" data-componente="ListaSubDestaqueTv">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 combinacao2 owl-flex">   
				<h2 class="main-title">Titulo</h2> 
				<h3 class="main-subtitle">Sub Titulo</h3> 
				<div class="list-of-tv-highlights">
					<div class="row owl-flex-wrap">
						<div class="list-item owl-i-flex c-bg">
							
								<div class="col">
									<div class="box-img"><img src="http://fpoimg.com/225x85" alt="Texto acessibilidade "></div>
								</div>
								<div class="col">
									
									<div class="owl-i-content">
										<h3 class="list-item-title c-title">DDD básico</h3>
										<h3 class="list-item-subtitle c-title">DDD básico</h3>
										<div class="text c-description owl-flex-align">DDD entre telefones fixos e de fixo para móvel para qualquer lugar do Brasil.DDD entre telefones fixos e de fixo para móvel para qualquer lugar do Brasil.DDD entre telefones fixos e de fixo para móvel para qualquer lugar do Brasil.</div>

										<span class="bill-offer c-description">
												
												<span class="txt-pre">A partir de</span>
											
											<small>R$</small>1239<small>,92/por mês</small>
											</span>

										<div class="wrap-btn">

											<a href="http://cms.devebt.amxdev.net/sites/embratel/paginainterna-cloud" target="_self" class="btn c-button gtm-link-event" title="txt acess. Saiba mais" role="button" data-gtm-category="claro:Pós Pago"
											data-gtm-action="sub-destaque:click"
											data-gtm-label="">Saiba mais</a>
										</div>
									
									</div>
								</div>
							
						</div>
						<div class="list-item owl-i-flex c-bg">
							
								<div class="col">
									<div class="box-img"><img src="http://fpoimg.com/225x85" alt="Texto acessibilidade "></div>
								</div>
								<div class="col">
										
									<div class="owl-i-content">
										<h3 class="list-item-title c-title">DDD básico</h3>
										<h3 class="list-item-subtitle c-title">DDD básico</h3>
										<div class="text c-description owl-flex-align">DDD entre telefones fixos e de fixo para móvel para qualquer lugar do Brasil.</div>

										<span class="bill-offer c-description">
												
												 <span class="txt-pre">A partir de</span>
												
												<small>R$</small>1239<small>,92/por mês</small>
											 </span>
										<div class="wrap-btn">

											<a href="http://cms.devebt.amxdev.net/sites/embratel/paginainterna-cloud" target="_self" class="btn c-button gtm-link-event" title="txt acess. Saiba mais" role="button"
											data-gtm-category="claro:Pré Pago"
											data-gtm-action="sub-destaque:click"
											data-gtm-label="Claro:Blá">Saiba mais</a>
										</div>
									
									</div>
								</div>
							
						</div>
						<div class="list-item owl-i-flex c-bg">
							
								<div class="col">
									<div class="box-img"><img src="http://fpoimg.com/225x85" alt="Texto acessibilidade "></div>
								</div>
								<div class="col">
									<div class="owl-i-content">
										<h3 class="list-item-title c-title">DDD básico</h3>
										<h3 class="list-item-subtitle c-title">DDD básico</h3>
										<div class="text c-description owl-flex-align">DDD entre telefones fixos e de fixo para móvel para qualquer lugar do Brasil.</div>

										<span class="bill-offer c-description">
												
												 <span class="txt-pre">A partir de</span>
												
												<small>R$</small>1239<small>,92/por mês</small>
											 </span>
										<div class="wrap-btn">

											<a href="http://cms.devebt.amxdev.net/sites/embratel/paginainterna-cloud" target="_self" class="btn c-button" title="txt acess. Saiba mais" role="button">Saiba mais</a>
										</div>
									</div>
								</div>
							
						</div>
						<div class="list-item owl-i-flex c-bg">
								
								<div class="col">
									<div class="box-img"><img src="http://fpoimg.com/225x85" alt="Texto acessibilidade "></div>
								</div>
								<div class="col">
									<div class="owl-i-content">
										<h3 class="list-item-title c-title">DDD básico</h3>
										<h3 class="list-item-subtitle c-title">DDD básico</h3>
										<div class="text c-description owl-flex-align">DDD entre telefones fixos e de fixo para móvel para qualquer lugar do Brasil.</div>
										<div class="wrap-btn">

											<a href="http://cms.devebt.amxdev.net/sites/embratel/paginainterna-cloud" target="_self" class="btn c-button" title="txt acess. Saiba mais" role="button">Saiba mais</a>
										</div>
									</div>
								</div>
							
						</div>
					</div>
				</div>
				<div class="legal-text">* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.</div>

				<div class="footer-component">Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. </div>
			</div>
		</div>
	</div>
</section>