<section class="sectionComponent subdestaque" data-componente="subdestaque">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 owl-flex">
				<h2 class="main-title">Subdestaque</h2>
				<h3 class="main-subtitle">Subtítulo</h3>
				<div class="owl-flex-wrap">
				
					<div class="list-item owl-i-flex">
						<div class="col">
							<picture title="Título da imagem" class="box-img">
								<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/278X384/000/fff"/>
								<source media="(min-width: 650px)" srcset="http://via.placeholder.com/278X384/000/fff"/>
								<source media="(min-width: 300px)" srcset="http://via.placeholder.com/278X384/000/fff"/>
								<img src="http://via.placeholder.com/278X384/000/fff"  alt="ALT da imagem">
							</picture>
						</div>
						<div class="col">
							<div class="owl-i-content">
								<h3 class="list-item-title">Título</h3>
								<h3 class="list-item-subtitle">Subtítulo</h3>
								<div class="text owl-flex-align">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</div>
								<span class="bill-offer">
									<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
								</span>
								<div class="wrap-btn">
									<a href="#" target="_self" class="botao Amarelo" role="button">Saiba mais
										<i class="icon-right fa fa-angle-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="list-item owl-i-flex">
						<div class="col">
							<picture title="Título da imagem" class="box-img">
								<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/278X384/000/fff"/>
								<source media="(min-width: 650px)" srcset="http://via.placeholder.com/278X384/000/fff"/>
								<source media="(min-width: 300px)" srcset="http://via.placeholder.com/278X384/000/fff"/>
								<img src="http://via.placeholder.com/278X384/000/fff"  alt="ALT da imagem">
							</picture>
						</div>
						<div class="col">
							<div class="owl-i-content">
								<h3 class="list-item-title">Título</h3>
								<h3 class="list-item-subtitle">Subtítulo</h3>
								<div class="text owl-flex-align">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</div>
								<span class="bill-offer">
									<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
								</span>
								<div class="wrap-btn">
									<a href="#" target="_self" class="botao Azul" role="button">Saiba mais
										<i class="icon-right fa fa-angle-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="list-item owl-i-flex">
						<div class="col">
							<picture title="Título da imagem" class="box-img">
								<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/278X384/000/fff"/>
								<source media="(min-width: 650px)" srcset="http://via.placeholder.com/278X384/000/fff"/>
								<source media="(min-width: 300px)" srcset="http://via.placeholder.com/278X384/000/fff"/>
								<img src="http://via.placeholder.com/278X384/000/fff"  alt="ALT da imagem">
							</picture>
						</div>
						<div class="col">
							<div class="owl-i-content">
								<h3 class="list-item-title">Título</h3>
								<h3 class="list-item-subtitle">Subtítulo</h3>
								<div class="text owl-flex-align">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</div>
								<span class="bill-offer">
									<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
								</span>
								<div class="wrap-btn">
									<a href="#" target="_self" class="botao Azul" role="button">Saiba mais
										<i class="icon-right fa fa-angle-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="list-item owl-i-flex">
						<div class="col">
							<picture title="Título da imagem" class="box-img">
								<source media="(min-width: 1024px)" srcset="http://via.placeholder.com/278X384/000/fff"/>
								<source media="(min-width: 650px)" srcset="http://via.placeholder.com/278X384/000/fff"/>
								<source media="(min-width: 300px)" srcset="http://via.placeholder.com/278X384/000/fff"/>
								<img src="http://via.placeholder.com/278X384/000/fff"  alt="ALT da imagem">
							</picture>
						</div>
						<div class="col">
							<div class="owl-i-content">
								<h3 class="list-item-title">Título</h3>
								<h3 class="list-item-subtitle">Subtítulo</h3>
								<div class="text owl-flex-align">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</div>
								<span class="bill-offer">
									<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
								</span>
								<div class="wrap-btn">
									<a href="#" target="_self" class="botao Amarelo" role="button">Saiba mais
										<i class="icon-right fa fa-angle-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="legal-text">* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.</div>

			<div class="footer-component">Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. </div>
		</div>
	</div>
</section>