<section class="text-component sectionComponent" >

	<div class="container">
		<div class="row">
			<div class="col-sm-12 ">
				<h2 class="main-title">Título do Slot de Texto</h2>
				<h3 class="main-subtitle">Comum (Simples)</h3>
			</div>
		</div>
	</div>
	<div class="text-component-container -text">
		<div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="title">O que é Lorem Ipsum?</h2>
					</div>
				</div>
				<div class="row">
					<div class="content">
						<div class="col-sm-12">
							Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, 
							quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum 
							sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se 
							popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou 
							a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
						</div>
						<div class="col-sm-12">
							É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua 
							diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo 
							aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na 
							internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase 
							de construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de propósito (injetando humor, e 
							coisas do gênero).
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="footer-component">
					Existem muitas variações disponíveis de passagens de Lorem Ipsum, mas a maioria sofreu algum tipo de alteração, seja por inserção de passagens 
					com humor, ou palavras aleatórias que não parecem nem um pouco convincentes. Se você pretende usar uma passagem de Lorem Ipsum, precisa ter 
					certeza de que não há algo embaraçoso escrito escondido no meio do texto. Todos os geradores de Lorem Ipsum na internet tendem a repetir pedaços 
					predefinidos conforme necessário, fazendo deste o primeiro gerador de Lorem Ipsum autêntico da internet.
				</div>
			</div>
		</div>
	</div>

	
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12 ">
				<h2 class="main-title">Título do Slot de Texto</h2>
				<h3 class="main-subtitle">Texto com 2 colunas</h3>
			</div>
		</div>
	</div>
	<div class="text-component-container -two-columns">
		<div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="title">O que é Lorem Ipsum?</h2>
					</div>
				</div>
				<div class="row">
					<div class="content">
						<div class="col-md-6">
							Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, 
							quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum 
							sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se 
							popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou 
							a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
						</div>
						<div class="col-md-6">
							É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua 
							diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo 
							aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na 
							internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase 
							de construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de propósito (injetando humor, e 
							coisas do gênero).
						</div>
						<div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="footer-component">
					Existem muitas variações disponíveis de passagens de Lorem Ipsum, mas a maioria sofreu algum tipo de alteração, seja por inserção de passagens 
					com humor, ou palavras aleatórias que não parecem nem um pouco convincentes. Se você pretende usar uma passagem de Lorem Ipsum, precisa ter 
					certeza de que não há algo embaraçoso escrito escondido no meio do texto. Todos os geradores de Lorem Ipsum na internet tendem a repetir pedaços 
					predefinidos conforme necessário, fazendo deste o primeiro gerador de Lorem Ipsum autêntico da internet.
				</div>
			</div>
		</div>
	</div>

	
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12 ">
				<h2 class="main-title">Título do Slot de Texto</h2>
				<h3 class="main-subtitle">Com imagem de BG e 2 colunas</h3>
			</div>
		</div>
	</div>
	<div class="text-component-container -two-columns">
		<div>
			<picture class="banner-imagem">
				<source media="(min-width: 1024px)" srcset="https://www.star-ts.com/wp-content/uploads/2018/06/football-3374667_1920.jpg"/>
				<source media="(min-width: 650px)" srcset="https://img.youtube.com/vi/fQAJ_h4VSr0/maxresdefault.jpg"/>
				<source media="(min-width: 300px)" srcset="https://img.youtube.com/vi/fQAJ_h4VSr0/maxresdefault.jpg"/>
				<img src="https://www.star-ts.com/wp-content/uploads/2018/06/football-3374667_1920.jpg" title="imagem 1" alt="imagem 1">
			</picture>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="title">O que é Lorem Ipsum?</h2>
					</div>
				</div>
				<div class="row">
					<div class="content">
						<div class="col-md-6">
							Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, 
							quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum 
							sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se 
							popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou 
							a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
						</div>

						<div class="col-md-6">
							É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua 
							diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo 
							aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na 
							internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase 
							de construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de propósito (injetando humor, e 
							coisas do gênero).
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="footer-component">
					Existem muitas variações disponíveis de passagens de Lorem Ipsum, mas a maioria sofreu algum tipo de alteração, seja por inserção de passagens 
					com humor, ou palavras aleatórias que não parecem nem um pouco convincentes. Se você pretende usar uma passagem de Lorem Ipsum, precisa ter 
					certeza de que não há algo embaraçoso escrito escondido no meio do texto. Todos os geradores de Lorem Ipsum na internet tendem a repetir pedaços 
					predefinidos conforme necessário, fazendo deste o primeiro gerador de Lorem Ipsum autêntico da internet.
				</div>
			</div>
		</div>
	</div>

	
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12 ">
				<h2 class="main-title">Título do Slot de Texto</h2>
				<h3 class="main-subtitle">Com 2 colunas mas apenas 1 preenchida</h3>
			</div>
		</div>
	</div>
	<div class="text-component-container -two-columns">
		<div>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="title">O que é Lorem Ipsum?</h2>
					</div>
				</div>
				<div class="row">
					<div class="content">
						<div class="col-md-6">
							Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, 
							quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum 
							sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se 
							popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou 
							a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
						</div>
						<div class="col-md-6">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="footer-component">
					Existem muitas variações disponíveis de passagens de Lorem Ipsum, mas a maioria sofreu algum tipo de alteração, seja por inserção de passagens 
					com humor, ou palavras aleatórias que não parecem nem um pouco convincentes. Se você pretende usar uma passagem de Lorem Ipsum, precisa ter 
					certeza de que não há algo embaraçoso escrito escondido no meio do texto. Todos os geradores de Lorem Ipsum na internet tendem a repetir pedaços 
					predefinidos conforme necessário, fazendo deste o primeiro gerador de Lorem Ipsum autêntico da internet.
				</div>
			</div>
		</div>
	</div>

	
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12 ">
				<h2 class="main-title">Título do Slot de Texto</h2>
				<h3 class="main-subtitle">Como Título de Página</h3>
			</div>
		</div>
	</div>
	<div class="text-component-container -titulo-pagina">
		<div>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="title c-title titulo-pagina">O que é Lorem Ipsum?</h2>
					</div>
				</div>
				<div class="row">
					<div class="content">
						<div class="col-md-6 titulo-pagina">
							<div class="texto1">
								Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica.
							</div>
							<div class="texto2">
							Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, 
							quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum 
							sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se 
							popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou 
							a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="footer-component">
					Existem muitas variações disponíveis de passagens de Lorem Ipsum, mas a maioria sofreu algum tipo de alteração, seja por inserção de passagens 
					com humor, ou palavras aleatórias que não parecem nem um pouco convincentes. Se você pretende usar uma passagem de Lorem Ipsum, precisa ter 
					certeza de que não há algo embaraçoso escrito escondido no meio do texto. Todos os geradores de Lorem Ipsum na internet tendem a repetir pedaços 
					predefinidos conforme necessário, fazendo deste o primeiro gerador de Lorem Ipsum autêntico da internet.
				</div>
			</div>
		</div>
	</div>

</section>