<section class="tutorial sectionComponent" data-componente="tutorialComponente">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="main-title ">Tutorial Componente </h2>
				<h3 class="main-subtitle">Subtitulo Tutorial Componente </h3>
				<ul>
					<li class="col-sm-6 col-xs-12">
						<div class="tutorial-content">
							<i class="fa neticon-ico_libras"></i>
							<a href="" title="Acesso a Minha NET" target="_self" class="gtm-link-event" data-gtm-action="tutorial:click" data-gtm-label="acesso-a-minha-net">
								<p>Minha NET</p> 
							</a>
						</div>
					</li>
					<li class="col-sm-6 col-xs-12">
						<div class="tutorial-content">
							<i class="fa neticon-documento"></i>
							<a href="/sites/Satellite?blobcol=urldata&blobkey=id&blobnocache=true&blobtable=MungoBlobs&blobwhere=1519602013107&ssbinary=true" title="Teste_NET Mix Pós Mais" target="_self" class="gtm-link-event" data-gtm-action="tutorial:click" data-gtm-label="teste_net-mix-pós-mais"> 
								<p>NET Mix Pós Mais</p> 
								<p class="tutorial-desc">Descrição NET Mix Pós Mais</p>
							</a>
						</div>
					</li>
					<li class="col-sm-6 col-xs-12">
						<div class="tutorial-content">
							<i class="fa neticon-celular_borda"></i>
							<a href="/sites/Satellite?blobcol=urldata&blobkey=id&blobnocache=true&blobtable=MungoBlobs&blobwhere=1519602012895&ssbinary=true" title="Teste_Regulamento NET Música" target="_self" class="gtm-link-event"data-gtm-action="tutorial:click" data-gtm-label="teste_regulamento-net-música"> 
								<p>Regulamento NET Música</p> 
								<p class="tutorial-desc">Descrição Regulamento NET Música</p>
							</a>
						</div>
					</li>
					<li class="col-sm-6 col-xs-12">
						<div class="tutorial-content">
							<i class="fa neticon-celular_borda"></i>
							<a href="/sites/Satellite?blobcol=urldata&blobkey=id&blobnocache=true&blobtable=MungoBlobs&blobwhere=1519602013100&ssbinary=true" title="Teste_Bônus Internet NET Pós Mais e Controle Mais" target="_self" class="gtm-link-event" data-gtm-action="tutorial:click" data-gtm-label="teste_bônus-internet-net-pós-mais-e-controle-mais"> 
								<p>Bônus Internet NET Pós Mais e Controle Mais</p> 
								<p class="tutorial-desc">Descrição Bônus Internet NET Pós Mais e Controle Mais</p>
							</a>
						</div>
					</li>
				</ul>

			<div class="legal-text">* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.</div>
			<div class="footer-component">Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. </div>

			</div>
		</div>
	</div>
</section>
