<section class="chamada-zigzag-linear sectionComponent" data-require="zigZagEqualize">

  <div class="container">
    <div class="row">
		<div class="col-sm-12 owl-flex">   
			<h2 class="main-title">ZigZag ou Linear</h2> 
			<h3 class="main-subtitle">Layout Linear</h3> 
			<div class="wrap-chamada-zigzag-linear">
				<div  data-swipe="zigzag-linear" data-equalize="true" class="owl-flex-wrap">
					
					<div class="linear-itens owl-i-flex">
						<div class="owl-i-content">
							<picture class="zigzag-image linear">
								<source media="(min-width: 1024px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 650px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 319px)" srcset="https://dummyimage.com/370x200/000/fff">
								<img src="https://dummyimage.com/370x200/000/fff" alt="texto alternativo">
							</picture>
							<h2 class="zigzag-title">Titulo</h2>
							<div class="zigzag-subtitle">Subtitulo</div>
							<p class="zigzag-description owl-flex-align">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
							<span class="bill-offer">
								<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
							</span>
							<div class="wrap-btn">
								<a href="#" target="_self" class="btn-zigzag botao Amarelo" role="button">Assine<i class="icon-right fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="linear-itens owl-i-flex">
						<div class="owl-i-content">
							<picture class="zigzag-image linear">
								<source media="(min-width: 1024px)" srcset="https://dummyimage.com/370x200/333/fff">
								<source media="(min-width: 650px)" srcset="https://dummyimage.com/370x200/333/fff">
								<source media="(min-width: 319px)" srcset="https://dummyimage.com/370x200/333/fff">
								<img src="https://dummyimage.com/370x200/333/fff" alt="texto alternativo">
							</picture>
							<h2 class="zigzag-title">Titulo</h2>
							<div class="zigzag-subtitle">Subtitulo</div>
							<p class="zigzag-description owl-flex-align">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
							<span class="bill-offer">
								<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
							</span>
							<div class="wrap-btn">
								<a href="#" target="_self" class="btn-zigzag botao Amarelo" role="button">Assine<i class="icon-right fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="linear-itens owl-i-flex">
						<div class="owl-i-content">
							<picture class="zigzag-image linear">
								<source media="(min-width: 1024px)" srcset="https://dummyimage.com/370x200/666/fff">
								<source media="(min-width: 650px)" srcset="https://dummyimage.com/370x200/666/fff">
								<source media="(min-width: 319px)" srcset="https://dummyimage.com/370x200/666/fff">
								<img src="https://dummyimage.com/370x200/666/fff" alt="texto alternativo">
							</picture>
							<h2 class="zigzag-title">Titulo</h2>
							<div class="zigzag-subtitle">Subtitulo</div>
							<p class="zigzag-description owl-flex-align">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
							<span class="bill-offer">
								<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
							</span>
							<div class="wrap-btn">
								<a href="#" target="_self" class="btn-zigzag botao Amarelo" role="button">Assine<i class="icon-right fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="linear-itens owl-i-flex">
						<div class="owl-i-content">
							<picture class="zigzag-image linear">
								<source media="(min-width: 1024px)" srcset="https://dummyimage.com/370x200/999/fff">
								<source media="(min-width: 650px)" srcset="https://dummyimage.com/370x200/999/fff">
								<source media="(min-width: 319px)" srcset="https://dummyimage.com/370x200/999/fff">
								<img src="https://dummyimage.com/370x200/999/fff" alt="texto alternativo">
							</picture>
							<h2 class="zigzag-title">Titulo</h2>
							<div class="zigzag-subtitle">Subtitulo</div>
							<p class="zigzag-description owl-flex-align">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
							<span class="bill-offer">
								<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
							</span>
							<div class="wrap-btn">
								<a href="#" target="_self" class="btn-zigzag botao Amarelo" role="button">Assine<i class="icon-right fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="linear-itens owl-i-flex">
						<div class="owl-i-content">
							<picture class="zigzag-image linear">
								<source media="(min-width: 1024px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 650px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 319px)" srcset="https://dummyimage.com/370x200/000/fff">
								<img src="https://dummyimage.com/370x200/000/fff" alt="texto alternativo">
							</picture>
							<h2 class="zigzag-title">Titulo</h2>
							<div class="zigzag-subtitle">Subtitulo</div>
							<p class="zigzag-description owl-flex-align">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
							<span class="bill-offer">
								<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
							</span>
							<div class="wrap-btn">
								<a href="#" target="_self" class="btn-zigzag botao Amarelo" role="button">Assine<i class="icon-right fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					
				</div>
				<div class="legal-text">* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. Suspendisse aliquam nisi sit amet urna fermentum, vehicula mollis erat facilisis.</div>
				<div class="footer-component">Sed vitae rhoncus quam. Donec ultrices dolor in maximus tristique. </div>
			</div>
		</div>
    </div>
</section>