<section class="chamada-zigzag-linear sectionComponent" data-require="zigZagEqualize">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 owl-flex">
				<h2 class="main-title">ZigZag ou Linear</h2> 
				<h3 class="main-subtitle">layout Grid</h3> 
				<div data-equalize="true">
				<div class="wrap-chamada-zigzag-grid owl-flex-wrap">
					
					<div class="linear-itens owl-i-flex">
						<div class="owl-i-content">
							<picture class="zigzag-image">
								<source media="(min-width: 1024px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 650px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 319px)" srcset="https://dummyimage.com/370x200/000/fff">
								<img src="https://dummyimage.com/370x200/000/fff" alt="texto alternativo" class="img-responsive">
							</picture>
							<h2 class="zigzag-title">Título Grid</h2>
							<div class="zigzag-subtitle">Subtítulo</div>
							<div class="owl-flex-align zigzag-description">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</div>
							<span class="bill-offer">
								<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
							</span>
							<div class="wrap-btn">
								<a href="#" target="_blank" title="Lorem" class="btn-zigzag botao Azul" role="button">Button<i class="icon-right icon fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				
					<div class="linear-itens owl-i-flex">
						<div class="owl-i-content">
							<picture class="zigzag-image">
								<source media="(min-width: 1024px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 650px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 319px)" srcset="https://dummyimage.com/370x200/000/fff">
								<img src="https://dummyimage.com/370x200/000/fff" alt="texto alternativo" class="img-responsive">
							</picture>
							<h2 class="zigzag-title">Título Grid</h2>
							<div class="zigzag-subtitle">Subtítulo</div>
							<div class="owl-flex-align zigzag-description">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</div>
							<span class="bill-offer">
								<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
							</span>
							<div class="wrap-btn">
								<a href="#" target="_blank" title="Lorem" class="btn-zigzag botao Amarelo" role="button">Button<i class="icon-right icon fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				
					<div class="linear-itens owl-i-flex">
						<div class="owl-i-content">
							<picture class="zigzag-image">
								<source media="(min-width: 1024px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 650px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 319px)" srcset="https://dummyimage.com/370x200/000/fff">
								<img src="https://dummyimage.com/370x200/000/fff" alt="texto alternativo" class="img-responsive">
							</picture>
							<h2 class="zigzag-title">Título Grid</h2>
							<div class="zigzag-subtitle">Subtítulo</div>
							<div class="owl-flex-align zigzag-description">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</div>
							<span class="bill-offer">
								<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
							</span>
							<div class="wrap-btn">
								<a href="#" target="_blank" title="Lorem" class="btn-zigzag botao Azul" role="button">Button<i class="icon-right icon fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				
					<div class="linear-itens owl-i-flex">
						<div class="owl-i-content">
							<picture class="zigzag-image">
								<source media="(min-width: 1024px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 650px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 319px)" srcset="https://dummyimage.com/370x200/000/fff">
								<img src="https://dummyimage.com/370x200/000/fff" alt="texto alternativo" class="img-responsive">
							</picture>
							<h2 class="zigzag-title">Título Grid</h2>
							<div class="zigzag-subtitle">Subtítulo</div>
							<div class="owl-flex-align zigzag-description">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</div>
							<span class="bill-offer">
								<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
							</span>
							<div class="wrap-btn">
								<a href="#" target="_blank" title="Lorem" class="btn-zigzag botao Amarelo" role="button">Button<i class="icon-right icon fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					
					<div class="linear-itens owl-i-flex">
						<div class="owl-i-content">
							<picture class="zigzag-image">
								<source media="(min-width: 1024px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 650px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 319px)" srcset="https://dummyimage.com/370x200/000/fff">
								<img src="https://dummyimage.com/370x200/000/fff" alt="texto alternativo" class="img-responsive">
							</picture>
							<h2 class="zigzag-title">Título Grid</h2>
							<div class="zigzag-subtitle">Subtítulo</div>
							<div class="owl-flex-align zigzag-description">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</div>
							<span class="bill-offer">
								<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
							</span>
							<div class="wrap-btn">
								<a href="#" target="_blank" title="Lorem" class="btn-zigzag botao Azul" role="button">Button<i class="icon-right icon fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					
					<div class="linear-itens owl-i-flex">
						<div class="owl-i-content">
							<picture class="zigzag-image">
								<source media="(min-width: 1024px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 650px)" srcset="https://dummyimage.com/370x200/000/fff">
								<source media="(min-width: 319px)" srcset="https://dummyimage.com/370x200/000/fff">
								<img src="https://dummyimage.com/370x200/000/fff" alt="texto alternativo" class="img-responsive">
							</picture>
							<h2 class="zigzag-title">Título Grid</h2>
							<div class="zigzag-subtitle">Subtítulo</div>
							<div class="owl-flex-align zigzag-description">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</div>
							<span class="bill-offer">
								<span class="txt-pre">A partir de</span><small class="ref-1">R$</small>100<small>,90</small><span class="txt-pos">/Mês</span>
							</span>
							<div class="wrap-btn">
								<a href="#" target="_blank" title="Lorem" class="btn-zigzag botao Amarelo" role="button">Button<i class="icon-right icon fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					
				</div>
				</div>
			</div>
		</div>
	</div>
</section>