.flex-wrapp{
	.wrapper-event {
		@include clearfix;
		float: left;
		width: 100%;
		padding: 0;

		h2 {
			font-size: 26px;
			color: $color5;
			margin-bottom: 30px;
		}

		.flex-itens{
			margin-top: 0;
		}

		.item {
			&.list-i-flex{
				width: 49%;
			    margin: 0 0 30px 0;

				&:nth-child(odd){
					margin-right: 2%;
				}

				.list-flex-content{
					padding: 0;
				    flex-direction: row;
				}

				.inner-item {
					display: inline-block;
					width: 100%;

					&.c-bg {
						background-color: $color1;
					}
				}

				.col {
					width: 50%;
					vertical-align: top;

					&.no-image{
						width: 100%
					}
				}

				.box-img {
					position: relative;
					padding-bottom: 100%;
					
					img {
						height: 100%;
						-ms-interpolation-mode: bicubic;
						max-width: 100%;
						-moz-user-select: none;
						-ms-user-select: none;
						-webkit-user-select: none;
						user-select: none;
						width: auto;
						position: absolute;
						right: 0;
					}

				}
				.description {
					display: inline-block;
					padding-left: 20px;
				}

				.title {
					font-size: 16px;
					line-height: 1.6;
					margin-bottom: 15px;
					font-weight: bold;
				}

				p, div {
					font-size: 16px;
				}

				.text {
					padding-bottom: 15px;
					font-size: 14px;
				}

				.btn {
					border-radius: 0;
					text-transform: uppercase;
					margin-top: 0;
				}
				
				&:last-child {
					.inner-item {
						margin-bottom: 0;
					}
				}
			}
		}

		.textoLegal {
			.row {
				margin-bottom: 30px;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.eventos{
	.legal-text{
		margin-top: 0px;
	}

	&.flex-wrapp{
		.flex-itens {
		    margin-top: 0;
		}
	}
}

@media all and (min-width: 769px) and (max-width: 1024px){
	.flex-wrapp{
		.wrapper-event {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-flex-flow: row wrap;
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;

			.item {
				&.list-i-flex{
					.col {
						width: 50%;
						vertical-align: top;

						&.no-image{
							width: 100%
						}
					}
				}
			}
		}
	}
}


/* Deixando responsivo num breakpoint que o bootstrap não possui */
@media (max-width:768px) {
	.flex-wrapp{
		.wrapper-event {
			.item {
				&.list-i-flex{
					width: 100%;

					.wrap-btn {
						text-align: center;
						margin: 0 10px 10px 10px;
					}
				}
			}
		}
	}
}
