.wrapper-press {
	@include clearfix;
	margin-bottom: -30px;
	float: left;
	width: 100%;
	h2 {
		font-size: 26px;
		color: $color5;
		margin-bottom: 30px;
	}

	.item {
		& > a {
			display: block;
		}
		.inner-item {
			display: inline-block;
			width: 100%;
			margin-bottom: 30px;
			&.c-bg {
				background-color: $color1;
			}
		}
		.col {
			display: inline-block;
			width: 100%;
			vertical-align: top;
		}
		.box-img {
			position: relative;
			padding-bottom: 100%;
			img {
				height: 100%;
				-ms-interpolation-mode: bicubic;
				max-width: 100%;
				-moz-user-select: none;
				-ms-user-select: none;
				-webkit-user-select: none;
				user-select: none;
				width: auto;
				position: absolute;
				right: 0; 
			}

		}
		.description {
			display: block;
			padding-left: 20px;
			padding-right: 20px;
			height: 170px;

		}

		.title {
			font-size: 16px;
			line-height: 1.6;
			margin-bottom: 15px;
			font-weight: bold;
		}

		p, div {
			font-size: 16px;
		}
		.text {
			position: relative;
			max-height: 135px;
			overflow: hidden;
			padding-bottom: 15px;
			margin-bottom: 5px;
			font-size: 14px;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: -10px;
				width: 108%;
				height: 30px;
			}
		}
		.btn {
			border-radius: 0;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 15px;
		}
		&:last-child {
			.inner-item {
				margin-bottom: 0;
			}
		}
	}

	.textoLegal {
		.row {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media (max-width:1024px) {
	.wrapper-press {
		.item {
			.text {
				height:95px;
			}
		}
	}
}

//Deixando responsivo num breakpoint que o bootstrap não possui
@media (max-width:768px) {
	.wrapper-press {
		.item {

			.col {
				width: 100%;
				display: block;
			}
			.box-img {
				width: 270px;
				height: 270px;
				padding-bottom:0;
				margin: 0 auto;
			}
			.text {
				height:65px;
			}
			.wrap-btn {
				text-align: center;
				margin: 0 10px 10px 10px;
			}
		}
	}
}
