.noticia {
    .main-title {
        margin-bottom: 30px;
    }
    .fake-button {        
        font-size: 14px;
        color: $color6;
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;
        word-wrap: break-word;

        &::before {            
            font-size: 26px;
            color: $color6;
            content: ':::';
            position: absolute;
            left: -30px; 
        }
    }
    .c-bg {
        background: $color1;
        padding: 20px;
    }
    .image-grid {
        .item {
            margin-top: 30px;
            img {
                margin: 0 auto;
            }
        }
    }
}
