.tutorial{
    display: inline-block;
    width: 100%;
    margin-top: 4%;
    color: #4cadfe;

    &.tutorial-1-coluna{
        li{
            a {
                font-size: 1em;
                font-weight: normal;
                color:$color4; 
            }
        }

        .tutorial-desc {
            color:$color4;
        }
    }

    .destaque-interno-th {
        display: inline-block;
        width: 100%;
        padding-bottom: 4%;
    }
    li{
        padding: 0px;
        margin: 10px 0 18px;
        text-align: center;
        float: left;

        .tutorial-content{
           i{
                font-size: 30px;
                float: left;
                line-height: 55px;
                margin-right: 20px;
                width: 55px;
                height: 55px;
                background-color: #e5ebf3;
            }
        }

        a{
            
            p{
                font-size: 14px;
                text-align: left;
            }

             p:nth-child(1){
                font-weight: bold;
                font-size: 1.146em;
                text-align: left;
				margin: 0;
				padding: 4px 0px;
             }

        }


    }
}



@media screen and (max-width:480px) {
    .tutorial{
        padding: 0 15px;
        &.tutorial-1-coluna{
            li{
                width: 100%;

                img{
                    float: none;
                    margin-bottom: 15px;
                }
            }
            div {
                width: 100%;
                padding-left: 0;
                margin: 0;

                p{
                    text-align: center;
                }
            }
        } 

    }
}