
.video-titulo{
 font-family: SourceSansPro;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333c40;
  margin: 50px 0px 0px 0px;
}

.video-subtitulo{

 font-family: SourceSansPro;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333c40;
  margin: 0px 0px 20px 0px;

}

iframe {
    margin: 0 auto;
    display: block;
    margin-bottom: 100px;
}
