/* ***** SourceSansPro ***** */
/* Uso da fonte SourceSansPro - font-family: 'SourceSansPro', sans-serif;*/
/* https://fonts.google.com/?query=source&selection.family=Source+Sans+Pro:200,300,400,400i,600 */
@font-face {
    font-family: 'SourceSansPro';
    src: url('../font/source-sans-pro/SourceSansPro-Regular.eot');
    src: url('../font/source-sans-pro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/source-sans-pro/SourceSansPro-Regular.woff2') format('woff2'),
        url('../font/source-sans-pro/SourceSansPro-Regular.woff') format('woff'),
        url('../font/source-sans-pro/SourceSansPro-Regular.ttf') format('truetype'),
        url('../font/source-sans-pro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../font/source-sans-pro/SourceSansPro-ExtraLight.eot');
    src: url('../font/source-sans-pro/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/source-sans-pro/SourceSansPro-ExtraLight.woff2') format('woff2'),
        url('../font/source-sans-pro/SourceSansPro-ExtraLight.woff') format('woff'),
        url('../font/source-sans-pro/SourceSansPro-ExtraLight.ttf') format('truetype'),
        url('../font/source-sans-pro/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../font/source-sans-pro/SourceSansPro-SemiBoldItalic.eot');
    src: url('../font/source-sans-pro/SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/source-sans-pro/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
        url('../font/source-sans-pro/SourceSansPro-SemiBoldItalic.woff') format('woff'),
        url('../font/source-sans-pro/SourceSansPro-SemiBoldItalic.ttf') format('truetype'),
        url('../font/source-sans-pro/SourceSansPro-SemiBoldItalic.svg#SourceSansPro-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../font/source-sans-pro/SourceSansPro-Italic.eot');
    src: url('../font/source-sans-pro/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/source-sans-pro/SourceSansPro-Italic.woff2') format('woff2'),
        url('../font/source-sans-pro/SourceSansPro-Italic.woff') format('woff'),
        url('../font/source-sans-pro/SourceSansPro-Italic.ttf') format('truetype'),
        url('../font/source-sans-pro/SourceSansPro-Italic.svg#SourceSansPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../font/source-sans-pro/SourceSansPro-LightItalic.eot');
    src: url('../font/source-sans-pro/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/source-sans-pro/SourceSansPro-LightItalic.woff2') format('woff2'),
        url('../font/source-sans-pro/SourceSansPro-LightItalic.woff') format('woff'),
        url('../font/source-sans-pro/SourceSansPro-LightItalic.ttf') format('truetype'),
        url('../font/source-sans-pro/SourceSansPro-LightItalic.svg#SourceSansPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../font/source-sans-pro/SourceSansPro-ExtraLightItalic.eot');
    src: url('../font/source-sans-pro/SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/source-sans-pro/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
        url('../font/source-sans-pro/SourceSansPro-ExtraLightItalic.woff') format('woff'),
        url('../font/source-sans-pro/SourceSansPro-ExtraLightItalic.ttf') format('truetype'),
        url('../font/source-sans-pro/SourceSansPro-ExtraLightItalic.svg#SourceSansPro-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../font/source-sans-pro/SourceSansPro-SemiBold.eot');
    src: url('../font/source-sans-pro/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/source-sans-pro/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('../font/source-sans-pro/SourceSansPro-SemiBold.woff') format('woff'),
        url('../font/source-sans-pro/SourceSansPro-SemiBold.ttf') format('truetype'),
        url('../font/source-sans-pro/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../font/source-sans-pro/SourceSansPro-BlackItalic.eot');
    src: url('../font/source-sans-pro/SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/source-sans-pro/SourceSansPro-BlackItalic.woff2') format('woff2'),
        url('../font/source-sans-pro/SourceSansPro-BlackItalic.woff') format('woff'),
        url('../font/source-sans-pro/SourceSansPro-BlackItalic.ttf') format('truetype'),
        url('../font/source-sans-pro/SourceSansPro-BlackItalic.svg#SourceSansPro-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../font/source-sans-pro/SourceSansPro-Black.eot');
    src: url('../font/source-sans-pro/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/source-sans-pro/SourceSansPro-Black.woff2') format('woff2'),
        url('../font/source-sans-pro/SourceSansPro-Black.woff') format('woff'),
        url('../font/source-sans-pro/SourceSansPro-Black.ttf') format('truetype'),
        url('../font/source-sans-pro/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../font/source-sans-pro/SourceSansPro-Light.eot');
    src: url('../font/source-sans-pro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/source-sans-pro/SourceSansPro-Light.woff2') format('woff2'),
        url('../font/source-sans-pro/SourceSansPro-Light.woff') format('woff'),
        url('../font/source-sans-pro/SourceSansPro-Light.ttf') format('truetype'),
        url('../font/source-sans-pro/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../font/source-sans-pro/SourceSansPro-BoldItalic.eot');
    src: url('../font/source-sans-pro/SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/source-sans-pro/SourceSansPro-BoldItalic.woff2') format('woff2'),
        url('../font/source-sans-pro/SourceSansPro-BoldItalic.woff') format('woff'),
        url('../font/source-sans-pro/SourceSansPro-BoldItalic.ttf') format('truetype'),
        url('../font/source-sans-pro/SourceSansPro-BoldItalic.svg#SourceSansPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../font/source-sans-pro/SourceSansPro-Bold.eot');
    src: url('../font/source-sans-pro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/source-sans-pro/SourceSansPro-Bold.woff2') format('woff2'),
        url('../font/source-sans-pro/SourceSansPro-Bold.woff') format('woff'),
        url('../font/source-sans-pro/SourceSansPro-Bold.ttf') format('truetype'),
        url('../font/source-sans-pro/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* ***** Futura BT Light ***** */
@font-face {
    font-family: 'FuturaBT';
    src: url('../font/futura/FuturaBT-LightItalic.eot');
    src: url('../font/futura/FuturaBT-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/futura/FuturaBT-LightItalic.woff2') format('woff2'),
        url('../font/futura/FuturaBT-LightItalic.woff') format('woff'),
        url('../font/futura/FuturaBT-LightItalic.ttf') format('truetype'),
        url('../font/futura/FuturaBT-LightItalic.svg#FuturaBT-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaBT';
    src: url('../font/futura/FuturaBT-Light.eot');
    src: url('../font/futura/FuturaBT-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/futura/FuturaBT-Light.woff2') format('woff2'),
        url('../font/futura/FuturaBT-Light.woff') format('woff'),
        url('../font/futura/FuturaBT-Light.ttf') format('truetype'),
        url('../font/futura/FuturaBT-Light.svg#FuturaBT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* ***** net-icons ***** */
@font-face {
  font-family: 'net-icons';
  src:  url('../font/net-icons/net-icons.eot?dss4lc');
  src:  url('../font/net-icons/net-icons.eot?dss4lc#iefix') format('embedded-opentype'),
    url('../font/net-icons/net-icons.ttf?dss4lc') format('truetype'),
    url('../font/net-icons/net-icons.woff?dss4lc') format('woff'),
    url('../font/net-icons/net-icons.svg?dss4lc#net-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="neticon-"]:before,
[class*=" neticon-"]:before {
    font-family: 'net-icons';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Icones */
.neticon-ico_libras:before {
  content: "\e900";
}
.neticon-ico_cadeira_rodas:before {
  content: "\e901";
}
.neticon-celular_borda:before {
  content: "\e600";
}
.neticon-paper:before {
  content: "\e601";
}
.neticon-ola:before {
  content: "\e602";
}
.neticon-gravar_ball:before {
  content: "\e603";
}
.neticon-grade:before {
  content: "\e604";
}
.neticon-grade_bola:before {
  content: "\e605";
}
.neticon-fone:before {
  content: "\e606";
}
.neticon-fone_borda:before {
  content: "\e607";
}
.neticon-ferramenta:before {
  content: "\e608";
}
.neticon-fechar:before {
  content: "\e609";
}
.neticon-Facebook:before {
  content: "\e60a";
}
.neticon-facebook_footer:before {
  content: "\e60b";
}
.neticon-estrela:before {
  content: "\e60c";
}
.neticon-erro404:before {
  content: "\e60d";
}
.neticon-documento:before {
  content: "\e60e";
}
.neticon-dicas_seguranca_borda:before {
  content: "\e60f";
}
.neticon-devices:before {
  content: "\e610";
}
.neticon-controle_remoto:before {
  content: "\e611";
}
.neticon-controle_borda:before {
  content: "\e612";
}
.neticon-configuracao:before {
  content: "\e613";
}
.neticon-concluido:before {
  content: "\e614";
}
.neticon-youtube:before {
  content: "\e615";
}
.neticon-youtube_footer:before {
  content: "\e616";
}
.neticon-twitter:before {
  content: "\e617";
}
.neticon-twitter_footer:before {
  content: "\e618";
}
.neticon-tv:before {
  content: "\e619";
}
.neticon-tv_borda:before {
  content: "\e61a";
}
.neticon-smartphone_borda:before {
  content: "\e61b";
}
.neticon-seta_voltar:before {
  content: "\e61c";
}
.neticon-seta_up2:before {
  content: "\e61d";
}
.neticon-seta_up:before {
  content: "\e61e";
}
.neticon-seta_down2:before {
  content: "\e61f";
}
.neticon-seta_down:before {
  content: "\e620";
}
.neticon-seta_carrossel_esq:before {
  content: "\e621";
}
.neticon-seta_carrossel_dir:before {
  content: "\e622";
}
.neticon-seta_avancar:before {
  content: "\e623";
}
.neticon-saiba_mais:before {
  content: "\e624";
}
.neticon-relogio:before {
  content: "\e625";
}
.neticon-preco_now:before {
  content: "\e626";
}
.neticon-planos:before {
  content: "\e627";
}
.neticon-ola_piscando:before {
  content: "\e628";
}
.neticon-now_em_casa:before {
  content: "\e629";
}
.neticon-notebook:before {
  content: "\e62a";
}
.neticon-notebook_borda:before {
  content: "\e62b";
}
.neticon-navegacao:before {
  content: "\e62c";
}
.neticon-minhaarea:before {
  content: "\e62d";
}
.neticon-minhaarea_over:before {
  content: "\e62e";
}
.neticon-mensagem_sucesso:before {
  content: "\e62f";
}
.neticon-mensagem_erro:before {
  content: "\e630";
}
.neticon-lupa:before {
  content: "\e631";
}
.neticon-local:before {
  content: "\e632";
}
.neticon-linkedin:before {
  content: "\e633";
}
.neticon-ipad_borda:before {
  content: "\e634";
}
.neticon-internet:before {
  content: "\e635";
}
.neticon-internet_borda:before {
  content: "\e636";
}
.neticon-guia_borda:before {
  content: "\e637";
}
.neticon-gravar:before {
  content: "\e638";
}
.neticon-calendario:before {
  content: "\e639";
}
.neticon-buscar:before {
  content: "\e63a";
}
.neticon-favoritado:before {
  content: "\e63b";
}
.neticon-favoritar:before {
  content: "\e63c";
}
.neticon-carrinho:before {
  content: "\e63d";
}
.neticon-sinal:before {
  content: "\e63e";
}
.neticon-atencao:before {
  content: "\e63f";
}
.neticon-ponto_opcional:before {
  content: "\e640";
}
.neticon-turbine:before {
  content: "\e641";
}
.neticon-via_fatura_facil:before {
  content: "\e642";
}
.neticon-cadastro:before {
  content: "\e643";
}
.neticon-esqueci_login_senha:before {
  content: "\e644";
}
.neticon-historico_atendimento:before {
  content: "\e645";
}
.neticon-promessa_pagamento:before {
  content: "\e646";
}
.neticon-wi-fi:before {
  content: "\e647";
}
.neticon-faq:before {
  content: "\e648";
}
.neticon-sair:before {
  content: "\e649";
}
.neticon-televendas:before {
  content: "\e64a";
}
.neticon-atendimento:before {
  content: "\e64b";
}
.neticon-beneficios:before {
  content: "\e64c";
}
